In [ ]:
a=5
a=10
print(a)

10

# variable

In [ ]:
name = 6
Name =8
NAME=10
n_ame=91
print(NAME)

10

In [ ]:
aseuikDFC545Ghnd=795
aseuikDFFG545Ghjd=26
axzvmbnmlopys89=aseuikDFC545Ghnd*aseuikDFFG545Ghjd
print(axzvmbnmlopys89)

20670

In [ ]:
s=795
y=26
z=s*y
print(z)

20670

In [ ]:
Payment_p_day=898
N_of_day=37
total_paymnt=Payment_p_day*N_of_day
print(total_paymnt)

33226

In [ ]:
x,y,z="fruit","market","compute"
print(x,y,z)
a,b,c=0,0,0
print(a,b,c)

fruit market compute
0 0 0

Comment

In [ ]:
"""yruy5t
uytu"""
print("yadu") # shows output

yadu

Type of data

In [ ]:

x="helo pyton"
y=123
z=1.23
a=False
b="1234"

print(type(y))
print(type(x))
print(type(z))
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'str'>

Arithmetic opn

In [ ]:
a=7
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

10
4
21
2.3333333333333335
1
2

Converations

In [ ]:
a=2.5
print(round(a)) #change float to int

2

In [ ]:
x=123
print(str(x))

123

In [ ]:
x="123"
print(int(x))

123

In [ ]:
x=2.7

print(round(x))

3

In [ ]:
x=3
print(float(3))

3.0

In [ ]:
x="hello"
y="python"
var=x+y
print(var)
print(type(var))

hellopython
<class 'str'>

In [ ]:
x="13345"
y=12345
z=int(x)
a=z+y
print(a)

25690

In [ ]:
a="yadu"
print(int(a))

ValueError: invalid literal for int() with base 10: 'yadu'

# string

In [ ]:
x="array"
print(x[0])

a

In [ ]:
X="array"
print(X[1])

r

In [ ]:
X="array"
print(X[2])

r

In [ ]:
X="array"
print(X[3])

In [ ]:
X="array"
print(X[4])

y

Len()

In [ ]:
X="hello progrming"
print(len(X))

15

Word In / not in str

In [ ]:
Text="Hello, lets start codeing"
print("start"in Text)

True

In [ ]:
Text="Hello, lets start coding"
print("get" in Text)

False

In [ ]:
Voice ="This is automated voice by siri"
print("hello" not in Voice)

True

In [ ]:
Voice="This is automated voice by siri"
print("is" not in Voice)

False

Slicing string

In [ ]:
a="hello"
print(a[1:3])

el

In [ ]:
a="helloo"
print(a[::2])

hlo

In [ ]:
a="abcdefghijklmnopqrst"
print(a[::2])

acegikmoqs

In [ ]:
a="hello my name is yadu"
print(a[17:21])

yadu

In [ ]:
xyz="hi my name is yadu"
print(xyz[2:10])

 my name

In [ ]:
a="123456789"
print(a[::3])

147

In [ ]:
a="123456789101112131415161718"
print(a[::4])

1591357

In [ ]:
a="hello my name is anshif and iam from malappuram"
print(a[-10:])

malappuram

In [ ]:
a="yadu"
print(a[::-1])

uday

Upper-case, LOwer case, strip, replace, split

In [ ]:
Word="Hello Phython"
print(Word.upper())

HELLO PHYTHON

In [ ]:
Word="HELLO PYTON"
print(Word.lower())

helo pyton

In [ ]:
a="  Hello World!"
print(a.strip())

Hello World!

In [ ]:
a="Hello, world!"
print(a.replace("H","j"))

jello, world!

In [ ]:
a="Hello%world%my%name!"
print(a.split("%"))

['Hello', 'world', 'my', 'name!']

Concantation

In [ ]:
A="Hello"
B="pythom"
V=A+B
print(V)

Hellopythom

Format

In [ ]:
age=36
txt="My name is John, I am"+age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age=36
txt="My name is John, Iam {}"
print(txt.format(age))

My name is John, Iam 36

In [ ]:
amount=3212
orderno=4776
quantity=10
myorder="i want {} of my order {} for {} rupes "
print(myorder.format(quantity,orderno,amount))

i want 10 of my order 4776 for 3212 rupes

Escape character

In [ ]:
txt="We are so called "Vikings" from north"
print(txt)

SyntaxError: invalid syntax (<ipython-input-7-a4f9b78f596f>, line 1)

In [ ]:
txt="We are so called \"Vikins\" from north"
print(txt)

We are so called "Vikins" from north

# boolian

In [ ]:
print(10==10)

True

In [ ]:
print(10<9)

False

In [ ]:
print(10==100)

False

In [ ]:
print(bool("hello"))
print(bool(100))

True
True

In [ ]:
print(bool("pyhton"))
print(bool(100))
print(bool(["apple","cherry","banana"]))

True
True
True

In [ ]:
print(bool(None))
print(bool(0))
print(bool({}))

False
False
False

In [ ]:
x=200
print(isinstance(x,int))

True

Aritmantic operation

In [ ]:
x=5
y=6
print(x+y)

11

In [ ]:
x=10
y=5
print(x-y)

5

In [ ]:
x=5
y=6
print(x*y)

30

In [ ]:
x=2
y=3
print(x**y)

8

In [ ]:
x=6
y=3
print(x/y)

In [ ]:
x=6
y=5
print(x//y)

In [ ]:
x=11
y=3
print(x%y)

2

In [ ]:
a=5
a+=10 #a=a+5
print(a)

15

In [ ]:
x=5
x-=2 #x=x-2
print(x)

3

In [ ]:
x=2
x*=3
print(x)

6

In [ ]:
x=6
x/=3
print(x)

In [ ]:
x=6
x//=5
print(x)

1

In [ ]:
x=11
x%=3
print(x)

2

Logic operation (bool)

In [ ]:
x=5
y=6
x>1 and y<10

True

In [ ]:
x=5
y=6
x>6 or y<10

True

In [ ]:
x=5
not x>1

False

Import operatro

In [ ]:
import operator
x=5
y=7
operator.add(x,y)

12

In [ ]:
import operator
x=5
y=6
operator.add(x,y)

11

In [ ]:
import operator
x=10
y=5
operator.sub(x,y)

5

In [ ]:
import operator
x=6
y=5
operator.mul(x,y)

30

In [ ]:
import operator
x=2
y=3
operator.pow(x,y)

8

In [ ]:
import operator
x=6
y=3
operator.truediv(x,y)

2.0

In [ ]:
import operator
x=6
y=5
operator.floordiv(x,y)

1

In [ ]:
import operator
x=6
y=5
operator.floordiv(x,y)

1

In [ ]:
import operator
x=11
y=3
operator.mod(x,y)

2

In [ ]:
import operator
x=operator.iadd(5,5)
print(x)

10

In [ ]:
x=operator.isub(5,2)
print(x)

3

In [ ]:
x=operator.imul(2,3)
print(x)

6

In [ ]:
x=operator.itruediv(6,3)
print(x)

2.0

In [ ]:
x=operator.ifloordiv(6,5)
print(x)

1

In [ ]:
x=operator.imod(11,3)
print(x)

2

In [ ]:
x=operator.iand(11,3)
print(x)

3

In [ ]:
x=operator.mod(3,4)
print(x)

3

In [ ]:
x=operator.ixor(5,2)
print(x)

7

In [ ]:
x=operator.irshift(5,2)
print(x)

1

In [ ]:
x=operator.ilshift(5,2)
print(x)

20

In [ ]:
num=[1,2,3,4,5]
operator.contains(num,2)

True

In [ ]:
num=[1,2,3,4,5,]
not operator.contains(num,2)

False

In [ ]:
x=5
y=10
operator.and_(x,y)

0

In [ ]:
x=5
y=10
operator.xor(x,y)

15

List

In [ ]:
fruits=["apple","orange","mango","apple"]
print(fruits)
print(fruits[1])
print(fruits[-1])

['apple', 'orange', 'mango', 'apple']
orange
['apple', 'mango', 'orange', 'apple']

In [ ]:
Fruits=["apple","orange","mango","apple","kiwi","pinapple"]
print(Fruits[1:5])

['orange', 'mango', 'apple', 'kiwi']

In [ ]:
Fruits=["apple","orange","mango","aple","kiwi","pineapple"]
print(Fruits[:5])

['apple', 'orange', 'mango', 'aple', 'kiwi']

In [ ]:
fruits=["apple","orange","mango","apple","kiwi","pineapple"]
print(fruits[1:])

['orange', 'mango', 'apple', 'kiwi', 'pineapple']

In [ ]:
fruits=["apple","orange","mango","apple","kiwi","pineapple"]
fruits[1]="banana"
print(fruits)

['apple', 'banana', 'mango', 'apple', 'kiwi', 'pineapple']

In [ ]:
fruits=["apple","orange","mango","apple","kiwi","pineapple"]
fruits[2:4]=["watermelom","green aple"]
print(fruits)

['apple', 'orange', 'watermelom', 'green aple', 'kiwi', 'pineapple']

In [ ]:
Fruits=['apple','banana','orange']
Fruits[2:]=['watermelon','kiwi']
print(Fruits)

['apple', 'banana', 'watermelon', 'kiwi']

In [ ]:
Fruits=["apple","banana","orange"]
Fruits[1:2]=['kiwi']
print(Fruits)

['apple', 'kiwi', 'orange']

insert element into lists

In [ ]:
Fruits=["apple",'banana',"cherry"]
Fruits.insert(1,"orange")
print(Fruits)

['apple', 'orange', 'banana', 'cherry']

append list

In [ ]:
Fruits=["apple","banana","cherry"]
Fruits.append("orange")
print(Fruits)

['apple', 'banana', 'cherry', 'orange']

extend list

In [ ]:
fruits=["apple","banana","cherry"]
fruits2=["mangp","pineapple","papaya"]
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'mangp', 'pineapple', 'papaya']

extend list and tuples

In [ ]:
fruits=["apple","banana","cherry"]
fruits2=("mango","pineapple","papaya")
fruits.extend(fruits2)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Remove()

In [ ]:
Fruits=["apple","banana","cherry"]
Fruits.remove("apple")
print(Fruits)

['banana', 'cherry']

pop funtion

In [ ]:
fruits=["apple","banana","cherry"]
fruits.pop(1)
print(fruits)

['apple', 'cherry']

Pop fuctn

In [ ]:
fruits=["apple","banana","cherry"]
fruits.pop() #pop() remove last element
print(fruits)

['apple', 'banana']

Delete

In [ ]:
fruits=["apple","banana",'chery']
del fruits[1]
print(fruits)

['apple', 'chery']

In [ ]:
fruits=["apple","banana","cherry"]
del ffruits

NameError: name 'ffruits' is not defined

clear

In [ ]:
Fruits=["apple","banana","cherry"]
Fruits.clear() #clear() empty list
print(Fruits)

[]

copy

In [ ]:
Fruits=["apple","banana","cherry"]
myfruits=Fruits.copy()
print(myfruits)

['apple', 'banana', 'cherry']

Tuple

In [ ]:
fruits=("apple","ornage","kiwi")
print(fruits)

('apple', 'ornage', 'kiwi')

In [ ]:
fruits=("apple","orange","kiwi")
print(fruits)
print(len(fruits))

('apple', 'orange', 'kiwi')
3

In [ ]:
Vareity=("abc",34,True,40,"male")

In [ ]:
fruits=("apple","ornage","kiwi")
print(type(fruits))

<class 'tuple'>

In [ ]:
Fruits=("apple","banana","cherry")
print(Fruits[1])

banana

In [ ]:
fruits=("apple","bnana","orange")
print(fruits[-1])

orange

In [ ]:
fruits=("apple","banana","cherry","orange","kiwi","melon")
print(fruits[2:])

('cherry', 'orange', 'kiwi', 'melon')

In [ ]:
x=("apple","banana","cherry")
x[0]="banana"

TypeError: 'tuple' object does not support item assignment

In [ ]:
x=("apple","banana","cherry")
y=list(x)
y[1]="watermelon"
x=tuple(y)
print(x)

('apple', 'watermelon', 'cherry')

In [ ]:
fruits=("apple","banana","cherry")
(green,red,yellow)=fruits
print(green)
print(red)
print(yellow)

apple
banana
cherry

SET

In [ ]:
fruits={"apple","banana","cherry"}
print(fruits)

{'banana', 'cherry', 'apple'}

For Loop

In [ ]:
Fruits={"apple","banana","cherry"}
for x in fruits:
  print(x)

banana
cherry
apple

add function

In [ ]:
fruits={"apple","banana","chery"}
fruits.add("orange")
print(fruits)

{'chery', 'banana', 'orange', 'apple'}

Update function

In [ ]:
fruits={"apple","banana","cherry"}
mylist=["kiwi","orange"]
fruits.update(mylist)
print(fruits)

{'orange', 'banana', 'kiwi', 'apple', 'cherry'}

Remove f , Discard f

In [ ]:
fruits={"apple","banana","cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [ ]:
fruits={"apple","banana","chery"}
fruits.discard("banana")
print(fruits)

{'chery', 'apple'}

In [ ]:
fruits={"apple","banana","cherry"}
fruits.clear()
print(fruits)

set()

In [ ]:
fruits={"apple","banana","cherry"}
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [ ]:
fruits={"apple","banana","cherry"}
x=fruits.pop()
print(x)
print(fruits)

banana
{'cherry', 'apple'}

In [ ]:
set2={1,2,3,3} #remove duplicate values
print(set2)

{1, 2, 3}

In [ ]:
set1={6,7,8,3}
set2={1,2,3,3}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 6, 7, 8}

In [ ]:
set1={"a","b","c"}
set2={1,2,3}
set1.update(set2)
print(set1)

{'a', 'b', 1, 2, 3, 'c'}

intersection funct

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'banana', 'cherry', 'google'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.symmetric_difference(y)
print(z)

{'microsoft', 'banana', 'cherry', 'google'}

In [ ]:
nu=(1,2,3,4,5,6,7,8,9)
fnum=frozenset(nu)
print("frozenset object is : ",fnum)

frozenset object is :  frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

Dictionary

In [ ]:
cars = {
      "brand": "BMW",
       "model":"2nd series",
       "year" :2004
       }

print(cars)

{'brand': 'BMW', 'model': '2nd series', 'year': '2004'}

In [ ]:
x=cars.get("model")
print(x)

2nd series

In [ ]:
cars={
    "brand":"BMW",
    "model":"2nd series",
    "year":"2004"
}
x= cars.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
cars={
    "brand":"BMW",
    "model":"2nd series",
    "year":"2004"
}
x=cars.values()
print(x)

dict_values(['BMW', '2nd series', '2004'])

In [ ]:
car={
    "Brand":"Ford",
    "model":"mustang",
    "year":1965
}
x=car.values()
print(x)
car["year"]=2020
print(x)

dict_values(['Ford', 'mustang', 1965])
dict_values(['Ford', 'mustang', 2020])

In [ ]:
car={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
x=car.values()
print(x)
car["color"]="red"
print(x)

dict_values(['ford', 'mustang', 1964])
dict_values(['ford', 'mustang', 1964, 'red'])

In [ ]:
car={"brand":"ford",
     "model":"mustang",
     "year":1964}

x=car.items()
print(x)

dict_items([('brand', 'ford'), ('model', 'mustang'), ('year', 1964)])

In [ ]:
car={"brand":"ford",
     "model":"mustang",
     "year":1964}
car["year"]=2020
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

In [ ]:
cars={"brand":"ford",
      "model":"mustang",
      "year":1964}
cars.update({"year":2020})
print(cars)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

In [ ]:
car={"brand":"ford",
     "model":"mustang",
     "year":1964}
car.pop('year')
print(car)

{'brand': 'ford', 'model': 'mustang'}

In [ ]:
cars={"brand":"ford",
     "model":"mustang",
     "year":1964}
cars.popitem()
print(cars)

{'brand': 'ford', 'model': 'mustang'}

In [ ]:
cars={"brand":"ford",
      "model":"mustang",
      "year":1964}
del cars["model"]
print(cars)

{'brand': 'ford', 'year': 1964}

In [ ]:
cars={"brand":"ford",
     "model":"mustang",
     "year":1964}
cars.clear()
print(cars)

{}

In [ ]:
thisdict={"brand":"ford",
          "model":"mustang",
          "year":1964}
mydict=thisdict.copy()
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [ ]:
thisdict={"brand":"ford",
          "model":"mustang",
          "year":1964}
mydict=dict(thisdict)
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

Nested dictionary

In [ ]:
friends={
    "child1":{
        "name":"arun",
        "year":2002
         },
    "child2":{
        "name":"vignesh",
        "year":"2001"
        },
    "child3":{
        "name":"arya",
        "year":"2018"
        }
    }
print(friends)

{'child1': {'name': 'arun', 'year': 2002}, 'child2': {'name': 'vignesh', 'year': '2001'}, 'child3': {'name': 'arya', 'year': '2018'}}

In [ ]:
football={
        "player1":{
            "name":"C Ronaldo",
            "club":"al nassr"
        },
        "player2":{
            "name":"kylian Mbappe",
            "club":"real madrid"
        },
        "player3":{
            "name":"haaland",
            "club":"manchester city"
        }
}
print(football)

{'player1': {'name': 'C Ronaldo', 'club': 'al nassr'}, 'player2': {'name': 'kylian Mbappe', 'club': 'real madrid'}, 'player3': {'name': 'haaland', 'club': 'manchester city'}}

In [ ]:
cars={
    "car1":{
        "name":"toyota",
        "country":"japan"
    },
    "car2":{
        "name":"hyundai",
        "country":"south korea"
    },
    "car3":{
        "name":"ford",
        "country":"US"
    }
}
print(cars)

{'car1': {'name': 'toyota', 'country': 'japan'}, 'car2': {'name': 'hyundai', 'country': 'south korea'}, 'car3': {'name': 'ford', 'country': 'US'}}

## questions

1.Write a program that removes whitespace from the following strings, then print out the strings with the
whitespace removed:

string1 = " Filet Mignon"

string2 = "Brisket "

string3 = " Cheeseburger "

2. Write a program that takes input from the user and displays the input in uppercase.

3. Write a program that takes input from the user and displays the number of characters in the input.

4. Write a program that uses input() twice to get two numbers from the user, multiplies the numbers together,
and displays the result. If the user enters 2 and 4, then your program should print the following text:

Output: The product of 2 and 4 is 8.0

5. Create a float object named weight with the value 0.2, and create a string object named animal with the value
"newt". Then use these objects to print the following string using only string concatenation:

Output: 0.2 kg is the weight of the newt.

6. Display the same string by using .format() and empty {} placeholders.

7. Display the same string using an f-string

8. How to add values to a python list?

9.What will the following code output?

Word=abcdefghij

Word[:3]+word[3:]

10. How will you remove a duplicate element from a list?

List=[1,2,1,3,4,2]

11.Write a Python program to add member(s) in a set.

12.Write a Python program to remove an item from a set if it is present in the set

13.Write a Python program to create an intersection of sets

setx = set(["green", "blue"])

sety = set(["blue", "yellow"])

14.Write a Python program to remove all elements from a given set.()

15. Write a Python script to add a key to a dictionary

Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

16.Write a Python program to concatenate following dictionaries to create a new one.

dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

17.Write a Python program to check whether a given key already exists in a dictionary.

18.Write a Python program to remove a key from a dictionary

19.Write a Python program to combine two dictionary adding values for common keys

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

20.create list using following dictionary

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 600, 'b': 400, 'd':500}

expected output:[100,200,300,400,500,600]

21.Write a Python program to find no of pairs in dict

{'a': 5, 'b': 14, 'c': 32, 'd': 35, 'e': 24, 'f': 100, 'g': 57, 'h': 8, 'i': 100}

22.Write a Python program to unpack a tuple in several variables.

23.Write a Python program to convert a tuple to a string.

tup = ('p', 'y', 't', 'h', 'o', 'n')

In [ ]:
#1
string1=" filet mignon"
string2=" Brisket"
string3=" cheeseburger"
print(string1.strip())
print(string2.strip())
print(string3.strip())

filet mignon
Brisket
cheeseburger

In [ ]:
#2
string1="filet mignon"
string2="Brisket"
string3="cheeseburger"
print(string1.upper())
print(string2.upper())
print(string3.upper())

FILET MIGNON
BRISKET
CHEESEBURGER

In [ ]:
#3
string="filet mignon"
string2="Brisket"
string3="cheeseburger"
print(len(string1))
print(len(string2))
print(len(string3))

12
7
12

In [ ]:
#4
a=int(input("number1: "))
b=int(input("number2:"))
c=a*b
print(c)

number1: 2
number2:4
8

In [ ]:
#5
weight=0.2
animal="newt"
print(weight,"kg is the weignt of",animal)

0.2 kg is the weignt of newt

In [ ]:
#7
age=25
print(f"yadhu {age}")

yadhu 25

In [ ]:
#6
age=10
string="whats your age {}"
print(string.format(age))

whats your age 10

In [ ]:
#8
a=[1,2,3,4,5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
#9
word="abcdefghij"
word[:3]+word[3:]

'abcdefghij'

In [ ]:
#10
a=[1,2,1,3,4,2]
b=set(a)
c=list(b)
print(c)

[1, 2, 3, 4]

In [ ]:
#11
a={1,2,3}
a.add(4)
print(a)

{1, 2, 3, 4}

In [ ]:
#12
a={"1","2","3","4"}
a.remove("3")
print(a)

{'1', '2', '4'}

In [ ]:
#13
a={"green","blue"}
b={"blue","yellow",}
x=a.intersection(b)
print(x)

{'blue'}

In [ ]:
#14
a={"a","b","c"}
a.clear()
print(a)

set()

In [ ]:
#15
dict1={0:10,1:20}
dict1[2] = 20
print(dict1)

{0: 10, 1: 20, 2: 20}

In [ ]:
#16
dict1={1:10,2:20}
dict1[3]=30
dict1[4]=40
dict1[5]=50
dict1[6]=60
print(dict1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#17
d={"name":"ford",
   "model":"mustanf",
   "year":1965
   }
x=d.get("name")
print(x)

ford

In [ ]:
#18
n={"name":"ford",
   "model":"mustang",
   "year":1964
   }
n.pop("name")
print(n)

{'model': 'mustang', 'year': 1964}

In [ ]:

#19
d1={"a":100,"b":200,"c":300}
d2={"a":300,"b":200,"c":400}
d1.update(d2)
print(d1)

{'a': 300, 'b': 200, 'c': 400}

In [ ]:
#20
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 600, 'b': 400, 'd':500}
x=d1.values()
y=d2.values()
r=list(x)
a=list(y)
r.extend(a)
print(r)

[100, 200, 300, 600, 400, 500]

In [ ]:
#21
a={'a': 5, 'b': 14, 'c': 32, 'd': 35, 'e': 24, 'f': 100, 'g': 57, 'h': 8, 'i': 100}
print(len(a))

9

In [ ]:
#22
n1=("apple","orange","mango")
(ag,bo,co)=n1
print(ag)
print(bo)
print(co)

apple
orange
mango

In [ ]:
#23
t=('p','y','t','h','o','n')
for x in t:
  print(x)

p
y
t
h
o
n

Conditions

In [ ]:
a=200
b=33
c=500
if a>b or a<c:
  print("At least one of the conditions is true")

At least one of the conditions is true

In [ ]:
a=2
b=330
print("A") if a>b else print("B")

B

In [ ]:
a=330
b=330
print("A") if a>b else print("=") if a==b else print("B")

=

In [ ]:
a=200
b=33
c=500
if a>b and c>a:
  print("both conditions are true")

both conditions are true

In [ ]:
a=33
b=200
if b>a:
  print("b greater tham a")

b greater tham a

In [ ]:
a=33
b=33
if b>a:
  print("b greater than a")
elif b==a:
    print("b equal to a ")

b equal to a

In [ ]:
a=200
b=33
if b>a:
  print("b greater than a")
elif b==a:
  print("b equal to a")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a=80
if a==100:
  print("iphone")
elif a>=80:
  print("samsung")
else:
  print("nothing")

samsung

In [ ]:
mark=int(input("enter mark : "))
if mark>=90:
  print("A+")
elif mark>=80:
  print("A")
elif mark>=70:
  print("B+")
elif mark>=60:
  print("B")
elif mark>=50:
  print("C+")
elif mark>=40:
  print("C")
else:
  print("faail")

enter mark : 20
faail

In [ ]:
a=2
b=330
print("A") if a>b else print("B")

B

In [ ]:
a=330
b=330
print("A") if a>b else print("=") if a==b else print("B")

=

And

In [ ]:
x=100
g=70
k=180
if x>g and k>x:
  print("Answer is correct")

Answer is correct

In [ ]:
t=1
y=2
i=0
if t<y or i<t:
  print("very good")

very good

In [ ]:
x=80
y=50
z=70
apple=50
orange=60
carrot=40
tomato=60
onion=110
if apple<x and orange<x:
  print("cheap")
if onion>x or tomato>y:
  print("expseive")

cccccheap
expseive

In [ ]:
x=11
if  x>10:
  print("above 10")
  if x>20:
    print("above 20")


else :
  print('but not above 20')

above 10

In [ ]:
a=33
b=200
if b>a:
   pass

Loop

In [ ]:

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:

a=[1,2,3,4]#while loop checks
while a:
  print(a)

In [ ]:

a=[1,2,3,4] # while loop check
while a:
  print(a.pop())

4
3
2
1

In [ ]:
for i in range(10):
  if i==3:
    continue
  else:
    print(i)

0
1
2
4
5
6
7
8
9

In [ ]:
#increment (i+=1) and decrement
i=0
while i<4:
  i+=1
  print(i)
  continue

1
2
3
4

In [ ]:
i=0
while i<4:
  i+=1
  print(i)
  break

1

In [ ]:
a='loop in pyhton'
i=0

while i<len(a):
  i+=1
  pass
  print('value of i:',i)

In [ ]:
i=0
a='loops in python'
while i<len(a):
  if a[i]=='e'or a[i]=='s':
    i+=1
    continue
  print('current letter:',a[i])
  i+=1

In [ ]:
i=0
a='loops in python'
while i<len(a):
  if a[i]=='p' or a[i]=='h':
    i+=1
    break
  print("current letter:",a[i])
  i+=1

current letter: l
current letter: o
current letter: o

In [ ]:
i=0
while i<4:
  i+=1
  print(i)
else:
  print('no break\n')

1
2
3
4
no break

In [ ]:
i=0
while i<4:
  i+=1
  print(i)
  break
else:#not executed no break
  print('No break')

1

In [ ]:
#iterating over a list
print(" list iteration")
l={"hello","for","pyhton"}
for i in l:
  print(i)

 list iteration
for
hello
pyhton

In [ ]:
#iteraing over a tup[le--imutable
print("\nTuple itleration")
t=("Helo","for","python")
for i in t:
 print(i)

Tuple itleration
Helo
for
python

loop control statements

continue

In [ ]:
for x in 'python develeper':
  if x=='e' or x=='o':
    continue
print('Current letter:',x)

Current letter: r

break

In [ ]:
for x in 'python developer':
  if x=='o' or x=='e':
    break
print('current letter:',x)

current letter: o

pass

In [ ]:
for x in 'pyhton developer':
      pass
print('last letter:',x)

laste letter: r

Range()

In [ ]:
#show range basics
#print the number
for i in range(10):
  print(i,end="")

0123456789

In [ ]:
for i in range(1,10):
  print(i,end=" - ")

1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 -

In [ ]:
for i in range(1,101,2):
  print(i)

In [ ]:
for i in range(0,101,2):
  print(i,end=",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

Range() with len()

In [ ]:
#using range for iteration
l=[10,20,30,40]
for i in range(len(l)):
  print(l[i],end=" ")

10 20 30 40

Sum with range()

In [ ]:
#performing the sum of natural numbers
sum=0
for i in range(1,11):
  sum=sum+i
print("Sum of 1st 10 natural number :",sum)

Sum of 1st 10 natural number : 55

https://docs.google.com/spreadsheets/d/1s_X8CpltlYaUubh2gtpqRtbk5KFwneDTTTlWczXq_JQ/edit?gid=0#gid=0

QUESTIONS

1-Print numbers from 1 to 10 using a for loop.

2-Print all even numbers between 1 and 20.

3-Print the square of numbers from 1 to 5.

4-Use a for loop to iterate over a list of fruits and print each fruit.

5-Count how many numbers between 1 and 50 are divisible by 5.

6-Use an if statement to check if a number is positive, negative, or zero.

7-Print only the vowels from a given string.

8-Use a for loop to find the sum of numbers from 1 to 100.

9-Check whether numbers from 1 to 20 are odd or even.

10-Print "Fizz" for numbers divisible by 3, "Buzz" for 5, and "FizzBuzz" for both (1 to 30).

In [ ]:
for i in

In [ ]:
#2
for i in range(1,21):
  print(i*i,end=";")

1;4;9;16;25;36;49;64;81;100;121;144;169;196;225;256;289;324;361;400;

In [ ]:
#4
a=["apple","orange","pineaplle","strwberry","watermelon"]
for i in a:
  print(i)

apple
orange
pineaplle
strwberry
watermelon

In [ ]:
#5
for i in range(1,50):
  if i%5==0:
    print(i,end=",")

5,10,15,20,25,30,35,40,45,

In [ ]:
#6
n=int(input("Number="))
if n<0:
  print("negative")
elif n>0:
  print("positive")

Number=-1
negative

In [ ]:
#7
a="apple is a fruit"
i=0
while i<len(a):
  if a[i]=='a' or a[i]=='e' or a[i]=='i' or a[i]=='o' or a[i]=='u' :
    print(a[i])
  i+=1

In [ ]:
#8
for i in range(1,100):
  i=i+i
print(i)

198

In [ ]:
#9
for i in range(1,20):
  if i%2==0:
    print("even")
  elif i%2==1:
    print("odd")

In [ ]:
#10
for i in range(1,30):
  if i%3==0:
    print("fizz")
  elif i%5==0:
    print("buzz")
  elif i%3==0 and i%5==0:
    print("fixxbuzz")

In [ ]:
#Q))Remove duplicates from a list using only loops and conditionals (no sets).
a=[1,2,3,4,5,5,5,6,6,7,8,9,9,10]
b=[]
for i in a:
  if i not in b:
    b.append(i)

print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

_______________________________________

In [ ]:

a=7
b=[]
for i in range(a):
  m1=int(input())
  if m1 not in b:
    b.append(m1)

print(b)

1
2
3
3
4
5
6
[1, 2, 3, 4, 5, 6]

For else loop

In [ ]:
for i in range(1,4):
  print(i)
else:
  print("No Break\n")

1
2
3
No Break

In [ ]:
for i in range(1,4):
  print(i)
  break
else:
  print("No Break\n")

1

In [ ]:
#1 for loop inside another for loop.inside for loop go full cycle 1st then outer loop go 2nd
adj=['red',"big","tasty"].
fruits=["apple","banaana","cherry"]
for x in adj:
  for y in fruits:  #
    print(x,y)

red apple
red banaana
red cherry
big apple
big banaana
big cherry
tasty apple
tasty banaana
tasty cherry

In [ ]:
#A simple python function
def hello():
  print("welcome to IPCS")
#Driver code to call a function
hello()

welcome to IPCS

In [ ]:
def evenorodd(x):
  if x%2==0:
    print("even")
  else:
    print("odd")


evenorodd(6)
evenorodd(7)

even
odd

In [ ]:
def myfun(x,y=50):
  print("x:",x)
  print("y:",y)
myfun(10)

x: 10
y: 50

In [ ]:
def fn(x,y):
  print(x+y)

fn(4,6)

10

In [ ]:
def student(firstname,lastname):
  print(firstname,lastname)

student(firstname='python',lastname='function')
student(lastname='hello',firstname="programmers")

python function
programmers hello

In [ ]:
def my_function(*kids):
  print("the youngest child is "+kids[2])

my_function("Emil","Tobias","linux")

the youngest child is linux

In [ ]:
def myfunction(*argv):
  for x in argv:
    print(x)

myfunction("Hello",'Welcom','to','ipcs')

Hello
Welcom
to
ipcs

In [ ]:
def my_function(**student):
  print("His first name is "+student["fname"])

my_function(fname="vigneshh",lname="S")

His first name is vigneshh

In [ ]:
def my_function(country="Norway"):
  print("Iam from "+country)
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

Iam from Sweden
Iam from India
Iam from Norway
Iam from Brazil

In [ ]:
def my_function(xyz):
  for x in xyz:
    print(x)
fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

In [ ]:
def square_value(num):
  return num**2
print(square_value(2))
print(square_value(-4))

4
16

In [ ]:
def myfunction(x):
   x[0]=30

lst=[9,11,13,14,15]
myfunction(lst)
print(lst)

[30, 11, 13, 14, 15]

In [ ]:
def f1():
  s='i love python'
  def f2():
    print(s)
  f2()
f1()

i love python

LAmbda in python

In [ ]:
def cube(y):
  return y*y*y;
g=lambda x:x*x*x
print(g(7))
print(cube(5))

343
125

In [ ]:
def power(n):
  return lambda a : a**n
base = power(2)  #base=lambda a**2 get returned to base
print("now power is set to 2")  #when calling base it get executed with already set with 2
print("6 to power of 2 = ",base(6))
#retuned to base
base=power(5) #base = lambda a : a**5
print("Now power is set to 5")#when calling base it gets executed with already set with newly 2
print("8 power of 5=",base(8))

now power is set to 2
6 to power of 2 =  36
Now power is set to 5
8 power of 5= 32768

filter funt and lambda

In [ ]:
a=[100,2,8,60,5,4,3,31,10,11]
filtered=filter(lambda x:x%2==0,a)
print(list(filtered))

[100, 2, 8, 60, 4, 10]

In [ ]:
a=[100,2,8,60,5,4,3,31,10,11]
maped=map(lambda x:x%2==0,a)
print(list(maped))

[True, True, True, True, False, True, False, False, True, False]

Global and Local Variabele

In [ ]:
def myfunction():
  print(s)
s="i love python" #Global Variable
myfunction()

i love python

In [ ]:
def myfunction():
  s="Me too" #LOcal variable
  print(s)

s="i love python" #Global Variable
myfunction()
print(s)

Me too
i love python

In [ ]:
a=1
def f():
  print('Inside f():',a)   #Uses global because there is no local 'a'
def g():
  a=2                         #variable 'a' is redefined as local
  print('Inside g(): ',a)
def h():
  global a                         #uses global keyword to modify global 'a'
  a=3
  print('inside h(): ',a)

print('global : ',a)                 #Global Scope
f()
print('global : ',a)
g()
print('global :',a)
h()
print('global :',a)

global :  1
Inside f(): 1
global :  1
Inside g():  2
global : 1
inside h():  3
global : 3

1_function as objects

In [ ]:
def shout(text):
  return text.upper()

print(shout('Hello'))
yell=shout
print(yell('Hello'))

HELLO
HELLO

2. function as argument

In [ ]:
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def greet(func):
  greeting=func("""hi i am created by a function passed as an argument.""")  #storing the function in a variable
  print(greeting)

greet(shout)
greet(whisper)

HI I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi i am created by a function passed as an argument.

In [ ]:
def create_adder(x):
  def adder(y):
    return x+y
  return adder

add_15=create_adder(15)
print(add_15(10))

25

In [ ]:
def calc_factorial(x):
  if x==1:
    return 1
  else:
    return(x*calc_factorial(x-1))

num=5
print("The factorial of",num,"is",calc_factorial(num))

The factorial of 5 is 120

QQ3

Write a function that returns the square of a number.

Create a function that takes two numbers and returns their sum.

Write a function that checks if a number is even.

Write a function that takes a string and returns it in uppercase.

Write a function that returns the length of a list.

Write a function that takes a number and returns True if it is positive, otherwise False.

Write a function that accepts a name and returns a greeting like Hello, John!

Write a function that takes a list of numbers and returns the maximum number.

Create a function that takes a string and returns the number of vowels in it.

Write a function that takes two parameters (price, tax rate) and returns the total price.

In [ ]:
1
def f(x):
  print(x**2)
f(2)

4

In [ ]:
2
def f(x,y):
  print(x+y)

In [ ]:
def f(x):
  if x%2==0:
    print("even")
  elif x%2==1:
    print("odd")

f(12)

even

In [ ]:
def f(x):
  print(x.upper())
f("apple")

APPLE

In [ ]:
def f(X):
  print(len(X))
a=['apple','orange','watermelon']
f(a)

3

In [ ]:
def f(x):
  if x>0:
    print("true")
  elif x<0:
    print("false")
f(-1)

false

In [ ]:
def h(nam):
  print('hello',nam)
jdke="kfjid"
h(jdke)

hello kfjid

In [ ]:
def g(y):
  for i in range(len(y)):
    for v in range(len(y)):
       if y[i]<y[v]:
        x=y[v]

  print(x)

ui=[1,2,3,4,5,76,76,49]
g(ui)

76

In [ ]:

def h(s):
   x=0
   for i in range(len(s)):
      if s[i]=='a':
         x+=1
      elif s[i]=='e':
         x+=1
      elif s[i]=='i':
         x+=1
      elif s[i]=='o':
         x+=1
      elif s[i]=='u':
         x+=1
   print(x)
a="what is this"
h(a)

3

In [ ]:
def h(s):
  x=0
  a="aeiou"
  for i in range(len(s)):
    for v in range(len(a)):
      if a[v]==s[i]:
        x+=1
  print(x)

b="iam happy"
h(b)

3

In [ ]:
a="iam happy"
vowels="aeiou"
c=0
for i in a:
  if i in vowels:
    c+=1

print(c)

3

In [ ]:
def price(p,t):
  print(p-(p*t/100))

price(10760,5)

10222.0


For Loop

1-Print numbers from 1 to 10 using a for loop.

2-Iterate through a list of fruits and print each fruit.

3-Print the square of numbers from 1 to 5.

4-Loop through a string and print each character.

5-Use a for loop to sum all elements in a list.

If Statement

6-Check if a number is positive or negative.

7-Check if a number is even or odd.

8-Compare two numbers and print which one is greater.

9-Check if a variable is equal to a specific value.

10-Determine if a person is eligible to vote (age >= 18).

Function

11-Write a function to add two numbers.

12-Write a function to return the square of a number.

13-Write a function that takes a name and prints a greeting.

14-Write a function to find the maximum of two numbers.

15-Write a function to return True if a number is even.

In [ ]:
#1
for i in range(1,11):
  print(i)

In [ ]:
#2
a=["apple","orange","mange","watermelon"]
for i in a:
  print(i)

apple
orange
mange
watermelon

In [ ]:
#3
for i in range(1,6):
  print(i**2)

1
4
9
16
25

In [ ]:
#4
a="apple"
for i in a:
  print(i)

a
p
p
l
e

In [ ]:
#5
b=[1,2,3,4,5]
x=0
for i in b:
  x+=i
print(x)

15

In [ ]:
#6
a=5
if a>0:
  print("positive")
else:
  print("negative")

positive

In [ ]:
#7
a=7
if a%2==0:
  print("even")
else:
  print("odd")

odd

In [ ]:
#8
a=12
b=15
if a>b:
  print("a greater than b")
elif b>a:
  print("b greater than a")

b greater than a

In [ ]:
#9
a=0
if a==0:
  print("yes")

yes

In [ ]:
#10
age=12
if age>=20:
  print("can vote")
elif age<20:
  print("cant vote")

cant vote

In [ ]:
#11
def f(a,b):
  print(a+b)

In [ ]:
#12
def g(a):
  print(a**2)

Intermediate Level

For Loop

1-Print all prime numbers between 1 and 100.

2-Loop through a list of numbers and print only the even numbers.

3-Loop through a list and create a new list with each element doubled.

4-Iterate through a dictionary and print key-value pairs.

5-Use nested for loops to print a multiplication table (110).

If Statement

6-Check if a number is divisible by both 3 and 5.

7-Grade a student based on marks: A, B, C, D, F.

8-Check if a string is a palindrome using an if block.

9-Validate a password length and content.

Function

10-Write a function to calculate the factorial of a number.

11-Write a function that reverses a string.

12-Write a function that returns the sum of all elements in a list.

13-Write a function that checks if a number is prime.

14-Write a function that returns the Fibonacci sequence up to n.

15-Write a function that receives a list of integers and returns the count of even and odd numbers using a for loop and if statement.

16-Write a function that takes a list of numbers and returns a new list containing only elements greater than the average of the list.

17-Write a function that takes two integers x and y, and prints numbers from 1 to 100. For multiples of x print "Foo" and for y print "Bar". For numbers which are multiples of both, print "FooBar".

18-Write a function that takes a list of words and returns the longest one using a for loop and if condition.

19-Write a function that takes two integers x and y, and prints numbers from 1 to 100. For multiples of x print "Foo" and for y print "Bar". For numbers which are multiples of both, print "FooBar".

In [ ]:
#1
for i in range(1,101):
   for n in range(1,i):
     if i%n==0:
        pass
     else:
       x+=i
   print(x)

In [ ]:
#2
z=[1,2,3,4,5,6,7,8,9,10]
for i in range(len(z)):
  if z[i]%2==0:
    print(z[i])

2
4
6
8
10

In [ ]:
#3
z=[1,2,3,4,5,6,7,8,9,10]
u=[]
for i in range(len(z)):
  u.append(2*z[i])

print(u)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#4
a={
    "car1":"ford",
    "car2":"toyota",
    "car3":"bmw",
    "car4":"mercedes benz",
    "car5":"hyundai",
    "car6":"honda"
   }
for i in a:
  print(i,a[i])

car1 ford
car2 toyota
car3 bmw
car4 mercedes benz
car5 hyundai
car6 honda

In [ ]:
#5
for i in range(1,11):
  for n in range(1,11):
    print(i,'x',n,'=',i*n)

In [ ]:
#6
a=15
if a%3==0 and a%5==0:
  print("divisible")

In [ ]:
#7
mark=29
if mark>=10:
  print("D")
elif mark>=20:
  print("C")
elif mark>=30:
  print("B")
elif mark>=40:
  print("A")

In [ ]:
#8
w="level"
p=w[::-1]
if w==p:
  print("True")
else:
  print("False")

True

In [ ]:
#9
w=0
p="car1234"
c=str(input())
if p==c:
  print("true")
else:
  print("false")

car1234
true

In [ ]:
#10
def f(x):
  v=1
  n=x+1
  for i in range(1,n):
      v*=i
  print(v)
f(4)

24

In [ ]:
#11
def g(z):
  print(z[::-1])

j="apple"
g(j)

elppa

In [ ]:
#12
def h(x):
    u=0
    for i in range(len(x)):
      u+=x[i]
    print(u)
fo=[1,2,3,4,5,6,7,8,9,10]
h(fo)

55

In [ ]:
#13
def k(n):
  z=0
  for i in range(2,(n-1)):
    if n%i==0:
      z=1
      break
    else:
      z=0
  if z==1:
    print("not prime number")
  elif z==0:
    print ("prime number")
k(15)

not prime number

In [ ]:
#14
def g(n):
  b=[0,1]
  c=0
  for i in range(n-2):
    c=i+1
    b.append(b[i]+b[c])
  print(b)
g(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#16
a=[1,2,3,4,5,6,7,8,9]
def g(u):
  x=0
  y=0
  for i in range(len(u)):
    if u[i]%2==0:
      x+=1
    else:
      y+=1
  print("even nos =",x)
  print("odd nos =",y)
g(a)

even nos = 4
odd nos = 5

In [ ]:
#16
a=[1,3,5,8,20,4,11,13,17]
def n(y):
  op=[]
  j=len(y)
  b=0
  for i in range(j):
    b+=y[i]
  q=b/j

  for v in range(j):
    if y[v]>=q:
      op.append(y[v])
  print(op)

n(a)

[20, 11, 13, 17]

In [ ]:
#17
def f(x,y):
  for i in range(1,101):
    if i%y==0 and i%x==0:
      print(i,"foobar")
    elif  i%y==0:
      print(i,"bar")
    elif i%x==0:
      print(i,"foobar")

f(3,4)

3 foobar
4 bar
6 foobar
8 bar
9 foobar
12 foobar
15 foobar
16 bar
18 foobar
20 bar
21 foobar
24 foobar
27 foobar
28 bar
30 foobar
32 bar
33 foobar
36 foobar
39 foobar
40 bar
42 foobar
44 bar
45 foobar
48 foobar
51 foobar
52 bar
54 foobar
56 bar
57 foobar
60 foobar
63 foobar
64 bar
66 foobar
68 bar
69 foobar
72 foobar
75 foobar
76 bar
78 foobar
80 bar
81 foobar
84 foobar
87 foobar
88 bar
90 foobar
92 bar
93 foobar
96 foobar
99 foobar
100 bar

In [ ]:
#18
def g(x):
  b=""
  for i in range(len(x)):
    if len(x[i])>len(x[i-1]):
      b=x[i]
  print(b)

h=["apple","orange","watermelon"]
g(h)

watermelon

26-Generate a Multiplication Table

27-Write a function that prints a full multiplication table up to n  n using nested loops.

28-Character Frequency Counter (Without Collections)
Write a function that returns a dictionary showing how often each character appears in a string using for loops and if.

29-Sort Numbers Based on Number of Factors
Given a list of numbers, sort them by how many factors each number has (in ascending order).

30-Simulate a Simple Calculator with Instructions
Design a function that processes a list of strings like "add 2", "multiply 3", and updates a result accordingly, starting from zero.

In [ ]:
#26
for i in range(1,11):
  for v in range(1,11):
    print(i,'x',v,'=',i*v)

In [ ]:
#27
ab="NNNNNNNNNNnnnnnnnnnnnGGGGGGGGGGGGGGGGGGGggggggggggHHHHHHHHHHggggg"
dict1={}
di=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
def f(jo):
  xp=jo.lower()
  a=0
  b=0
  c=0
  d=0
  e=0
  f=0
  g=0
  h=0
  i=0
  j=0
  k=0
  l=0
  m=0
  n=0
  o=0
  p=0
  q=0
  r=0
  s=0
  t=0
  u=0
  v=0
  w=0
  x=0
  y=0
  z=0
  for im in range(len(xp)):
    if xp[im]=='a':
      a+=1
    elif xp[im]=='b':
      b+=1
    elif xp[im]=='c':
      c+=1
    elif xp[im]=='d':
      d+=1
    elif xp[im]=='e':
      e+=1
    elif xp[im]=='f':
      f+=1
    elif xp[im]=='g':
      g+=1
    elif xp[im]=='h':
      h+=1
    elif xp[im]=='i':
      i+=1
    elif xp[im]=='j':
      j+=1
    elif xp[im]=='k':
      k+=1
    elif xp[im]=='l':
      l+=1
    elif xp[im]=='m':
      m+=1
    elif xp[im]=='n':
      n+=1
    elif xp[im]=='o':
      o+=1
    elif xp[im]=='p':
      p+=1
    elif xp[im]=='q':
      q+=1
    elif xp[im]=='r':
      r+=1
    elif xp[im]=='s':
      s+=1
    elif xp[im]=='t':
      t+=1
    elif xp[im]=='u':
      u+=1
    elif xp[im]=='v':
      v+=1
    elif xp[im]=='w':
      w+=1
    elif xp[im]=='x':
      x+=1
    elif xp[im]=='y':
      y+=1
    elif xp[im]=='z':
      z+=1

  if "a" in xp:
    dict1["a"]=a
  if "b" in xp:
    dict1["b"]=b
  if "c" in xp:
    dict1["c"]=c
  if "d" in xp:
    dict1["d"]=d
  if "e" in xp:
    dict1["e"]=e
  if "f" in xp:
    dict1["f"]=f
  if "g" in xp:
    dict1["g"]=g
  if "h" in xp:
    dict1["h"]=h
  if "i" in xp:
    dict1["i"]=i
  if "j" in xp:
    dict1["j"]=j
  if "k" in xp:
    dict1["k"]=k
  if "l" in xp:
    dict1["l"]=l
  if "m" in xp:
    dict1["m"]=m
  if "n" in xp:
    dict1["n"]=n
  if "o" in xp:
    dict1["o"]=o
  if "p" in xp:
    dict1["p"]=p
  if "q" in xp:
    dict1["q"]=q
  if "r" in xp:
    dict1["r"]=r
  if "s" in xp:
    dict1["s"]=s
  elif "t" in xp:
    dict1["t"]=t
  if "u" in xp:
    dict1["u"]=u
  if "v" in xp:
    dict1["v"]=v
  if "w" in xp:
    dict1["w"]=w
  if "x" in xp:
    dict1["x"]=x
  if "y" in xp:
    dict1["y"]=y
  if "z" in xp:
    dict1["z"]=z

  print(dict1)
f(ab)

{'g': 15, 'n': 11}

In [ ]:
ag=[32,54,68,99,36,42,48,75]
for i in range(1,len(ag)):
  for v in range(1,len(ag)):
    j=0
    b=0
    if ag[v]<ag[v-1]:
       j=ag[v]
       b=ag[v-1]
       ag[v-1]=j
       ag[v]=b

print(ag)

[32, 36, 42, 48, 54, 68, 75, 99]

In [ ]:
x=7
y=2
def f(a,b,c):
  if c=='+':
    print("add",a+b)
  if c=='-':
    print("subtrat",a-b)
  if c=='*':
    print("multiply",a*b)
  if c=='/':
    print("divde",a/b)
  if c=='//':
    print("int",a//b)
  if c=='%':
    print("int",a%b)

f(x,y,'+')

add 9

In [ ]:

def f(z):
  h=0
  y=0
  for i in range(1,len(z)):
    for t in range(1,len(z)):
      if z[t]<z[t-1]:
         h=z[t]
         y=z[t-1]
         z[t]=y
         z[t-1]=h
  print(z)

u=[2,8,5,3,80,4,6,20,14,15,17,19]
f(u)

[2, 3, 4, 5, 6, 8, 14, 15, 17, 19, 20, 80]

In [ ]:
# create a list and reverse it without using slicing
a=[1,2,3,4,5,6,7,8,9,10,11,12,13]
b=[]
x=0
y=0
z=len(a)
for i in range(0,z):
   y=a[z-1]
   b.append(y)
   z-=1

print(b)

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13]
print(a[::-1])

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Classs and Object

Class:
A class is a user-definded blueprint or prototype in object-oriented programming
It defines the structure (attributes) and begavior (methods) of objects.
It serves as a template for creating multiple instances with shared behavior

Object:
An object is a specific instance of a class .
It contains real values for the attributes defined by the class .
It represents a tangible entity with both state (attributes) and behavior (method)

Methods :
In python's object - oriented programming (oop) methods are functions, defined inside a class that operate on it;s attributes and object
Require the self parameter to accessor modify object data
- Constructor:
In python the consstructor is a special method used to intialize newly created objects. the keyword used for the constructor is init
purpose of the constructor( _ init _ ):

Initialize object attributes: Sets the initial state pf an object by assigning vlaues of it's attributes

Automatically invoked: It is called automatically when a new object of the class is created

 def __init__ (self, parameters):
    # Initialization code
- Self Paramter :
The self paramete is used in instance methods to refer to the specific object that is calling the method, It allowed acces to the instances attributes and other method
Key Points about self:
1) refer to the current insance: self represent the instances of the class. It used to access varriables and methods that belong to the object
2) Passed automatically : when calling a method on aan object, python automatically passes the object as the first argurment ( self )
3) Not a keyword : Self is a convention , not a reserved keyword, you can use other names, but using self is best practice
Class attributes
In python;s object-oriented programming (oop) , attributes are variables associated with a class and its objects

1) Instance attributes:

Belong to specific instances ( objects ) of a class
Definedusing self inside methods ( typically in the constructor )
Each object has it's own copy of these attributes

In [ ]:
class phone:                # making phone class             @
  def make_call(self):      # fuction making  always use self as parameter
     print("let's make a phone call")

  def play_game(self):    # method
      print("Lets's play a game")

p1=phone()   #making an object
p1.make_call()
p1.play_game()

let's make a phone call
Lets's play a game

Adding parameter to the class

In [ ]:
class Phone:                              # making phone clas
  def make_call(self):
    print("lets make a phome call")       # fuction making  always use selff as parameter

  def play_game(self):
    print("Lets play a game")

  def set_color(self,color):              #adding new paramters and  creating new function
    self.color= color

  def set_cost(self,cost):
    self.cost= cost

  def show_color(self):
    return self.color

  def show_cost(self):
    return self.cost

5000

In [ ]:
p2=Phone()

In [ ]:
p2.set_color('blue')

In [ ]:
p2.set_cost(5000)

In [ ]:
p2.show_color()

'blue'

In [ ]:
p2.show_cost()

5000

Creating a class with costructor

In [ ]:
class Employee:
    def __init__(self, name,age,salary,gender):  #init method is constructor
      self.name=name
      self.age=age
      self.salary=salary
      self.gender=gender

    def employee_details(self):
      print("Name of the employee is",self.name)
      print("age of the employee is",self.age)
      print("salary of the emploeyee is",self.salary)
      print("gender of the employee is",self.gender)

In [ ]:
e1=Employee("Sam",32,85000,"Male")

In [ ]:
e1.employee_details()

Name of the employee is Sam
age of the employee is 32
salary of the emploeyee is 85000
gender of the employee is Male

In [ ]:
class car:
  def __init__(self,name,model,year,color):
    self.name=name
    self.model=model
    self.year=year
    self.color=color

  def car_detail(self):
    print("Name=",self.name)
    print("Model=",self.model)
    print("Year=",self.year)
    print("color=",self.color)

In [ ]:
c1= car("Toyota","Vellfire",2024,"white")

In [ ]:
c1.car_detail()

Name= Toyota
Model= Vellfire
Year= 2024
color= white

## Methods and construcrtor

-Methods :
In python's object - oriented programming (oop) methods are functions, defined inside a class that operate on its attributes and object
Require the self parameter to accessor modify object data

- Constructor:
In python the consstructor is a special method used to intialize newly created objects. the keyword used for the constructor is init
purpose of the constructor( __init__ ):

Initialize object attributes: Sets the initial state of an object by assigning values of it's attributes

Automatically invoked: It is called automatically when a new object of the class is created

In [ ]:
class Cars:
  #class variable
  fourwheeler='cars'
  #The int method or constructor
  def __init__(self,brand,color):
    #instance variable
    self.brand=brand
    self.color=color

  def fun(self):
    print("hello",self.brand)
    print("and color is",self.color)
    #objects of cars class
TATA=Cars("NEXON","brown")
mustang=Cars("ford","orange")
TATA.fun()

hello NEXON
and color is brown

In [ ]:
class Myclass:
  #default constructor
  def __init__(self):
    self.hello="hello"
  #a method for printing data members
  def print_hello(self):
    print(self.hello)
#creating object of class
obj=Myclass()
#calling the instance method using  object obj
obj.print_hello()

hello

In [ ]:
#eg of parameterised constructors
class Myclass:
  first=0
  second=0
  answer=0
  #parameterised constructor
  def __init__(self,f,s):
    self.first=f
    self.second=s
  def display(self):
    print("Frst number="+str(self.first))
    print("SEcond number"+str(self.second))
    print("addition of 2 numbers="+str(self.answer))

  def calculate(self):
    self.answer=self.first+self.second

#Creating object of the class, this willinvoke parameterized constructor
obj=Myclass(2000,2000)
#perforem alddition
obj.calculate()
#display result
obj.display()

Frst number=2000
SEcond number2000
addition of 2 numbers=4000

In [ ]:
class charecter:

  def __init__(self,health,damage,power):
    self.health=health
    self.damage=damage
    self.power=power

  def double(self):
    self.power=self.power*2
    self.damage=self.damage*3
ninja=charecter(100,30,90)
warrior=charecter(200,40,95)
print("power of ninja=",ninja.power)
print("power of ninja=",ninja.health)
ninja.double()
print("after doubling the power")
print("power of ninja",ninja.power)
print("damage of ninja",ninja.damage)

power of ninja= 90
power of ninja= 100
after doubling the power
power of ninja 180
damage of ninja 90

In [ ]:
class charecter:
  def __init__(self,name,health,damage,power):
    self.name=name
    self.health=health
    self.damage=damage
    self.power=power

  def hai(self):
    print("hello i am",self.name)

  def is_alive(self):
    if self.health<=0:
      print(self.name,"is dead")
    else:
      print(self.name,"is alive")

  def player_details(self):
    print("....."*5)
    print("name of player is",self.name)
    print("health of the player is",self.health)
    print("damage of player is",self.damage)
    print("power of player is",self.power)
    print()

ninja=charecter("ninja",100,30,90)
warrior=charecter("warrior",200,40,95)

ninja.hai()
ninja.health=0
print("Health of ninja:",ninja.health)
ninja.is_alive()
warrior.is_alive()

warrior.player_details()
ninja.player_details()

hello i am ninja
Health of ninja: 0
ninja is dead
warrior is alive
.........................
name of player is warrior
health of the player is 200
damage of player is 40
power of player is 95

.........................
name of player is ninja
health of the player is 0
damage of player is 30
power of player is 90

##OOP's Inheritence

Inheritance is a fundemental concept of object-oriented programming(oop) that allows a class (child or derived class) to acquire the attributes and methods of another class (parent or base class), it facilitates code reusability, modularity, and the creation hierarchical relationships b/w classes. Promoting efficient code management and reducing redundancy.

Types of inheritance

1) Single inheritance:
A derived class inherits form a single parent class, gaining access to its properites and methods

2) Multilevel inhertance:
A class inherits from another derived class, froming a chain of inheritance.

3) Hierarchial inheritance:
Multiple derived classes inherit from a single parent class, allowing shared behavior across different subcalsses

4) Multiple Inheritance:
A single derived class inhert from multiple parent classes, combining function from different sources.

Hybrid inheritance
Hybrid inheritance is a combination of two or more types of inheritance (such as single, multiple, multilevel, or hierarchial inheritance) in a single program. It allows a more complex class hierarchy to be created, leveraging the benefits of different inheritance types.

### Single Inheritance

In [ ]:
class animal:  #parent class
  def speak(self):
    print("animal speaking")

class dog(animal):  #child class (inheritance)
  def bark(self):
    print("dog barking")

d=dog()
d.bark()
d.speak()  #we call class method thorough chile class(inheritance)

a=animal()
a.speak()
a.bark()  #attribute error: 'Animal' obj has no attribute 'bark' (because the original class have no connection with chilld behavior/child method)

dog barking
animal speaking
animal speaking

AttributeError: 'animal' object has no attribute 'bark'

In [ ]:
class plant:
  def flower(self):
    print("there is green flower")

class leaf(plant):
  def color(self):
    print("leaf has green color")

po=leaf()
po.flower()
po.color()

there is green flower
leaf has green color

In [ ]:
class vehicle:
  def start(self):
    print("vehicle is starting..")
  def stop(self):
    print("vehicle is stopping..")

class car(vehicle):
  def drive(self):
    print("car is being drive")

my_car=car()
my_car.start()
my_car.drive()
my_car.stop()

vehicle is starting..
car is being drive
vehicle is stopping..

### 2-Multilevel inheritance

In [ ]:
class Animal:
  def speak(self):
    print("animal speaking...")

class dog(animal):          #child class (inheritance)
  def bark(self):
    print("dog barking.,")

class dogchild(dog):    #multilevel inheritance
  def eat(self):
    print("Eating bread..")

d=dog()
d.bark()
d.speak()
#d.eat()   #AttributeError: 'Dog' object has no attribute 'eat'

print()

d1=dogchild()  #multilevel child has all attribute
d1.bark()
d1.speak()
d1.eat()

dog barking.,
animal speaking

dog barking.,
animal speaking
Eating bread..

In [ ]:
class world:
  def asia(self):
    print("asia 48 countries")

class india(world):
  def capital(self):
    print("delhi is capital of india")

class kerala(india):
  def capital1(self):
    print("Thiruvanthapuram is the capital")

o=india()
o.capital()
o.asia()

o1=kerala()
o1.capital()
o1.capital1()
o1.asia()

delhi is capital of india
asia 48 countries
delhi is capital of india
Thiruvanthapuram is the capital
asia 48 countries

### Heirarchial inheritance

In [ ]:
class shape:       #This is parent class
  def info(self):
    print("shapes have diamentions")

class circle(shape):     #this child of shape
  def draw(self):
    print("drawing a circle..")

class rectangle(shape):  #this also child of shape
  def draw(self):
    print("drawing a rectangle..")

c=circle()
c.info()
c.draw()
r=rectangle()
r.info()
r.draw()

shapes have diamentions
drawing a circle..
shapes have diamentions
drawing a rectangle..

In [ ]:
class fruits:
  def group(self):
    print("there are types of fruits")

class apple(fruits):
  def color(self):
    print("apple is red")

class mango(fruits):
  def color(self):
    print("mango is yellow")

b=apple()
g=mango()
b.color()
b.group()
g.color()
g.group()

apple is red
there are types of fruits
mango is yellow
there are types of fruits

### MUltiple Inheritance

In [ ]:
class calculation1:    # parent class
  def summation(self,a,b):
    print(a+b)

class calculation2:  # another parent class
  def multiplication(self,a,b):
    print(a*b)

class derived(calculation1,calculation2):    # child from that both parent classes
  def divide(self,a,b):
    print(a/b)

d=derived()
d.summation(10,20)
d.multiplication(10,20)
d.divide(10,20)

30
200
0.5

In [ ]:
class A:
  def c1(self):
    print("students are good in study")

class B:
  def c2(self):
    print("students are not good in studies")

class class_11(A,B):
  def c3(self):
    print("comppare classes")

s=class_11()
s.c1()
s.c2()
s.c3()

students are good in study
students are not good in studies
comppare classes

## 4-Hybrid inheritaance

In [ ]:
class person:
  def show(self):
    print("I am a person")
class teacher(person):
  def teach(self):
    print("i teach students")

class staff:
  def manage(self):
    print("I manage school activities")

#Hybrid inheritance principal inheritance from both teacher and staff(single+multiple)
class principal(teacher,staff):
  def oversea(self):
    print("i oversee the entire staff")

principal=principal()
principal.show()
principal.teach()
principal.manage()
principal.oversea()

I am a person
i teach students
I manage school activities
i oversee the entire staff

In [ ]:
class parent:
  def greet1(self):
    print("hello from parent...")

class child(parent):
  def greet2(self):
    super().greet1()   #Calling parent method
    print("Hello from child...")

child=child()
child.greet2()

hello from parent...
Hello from child...

In [ ]:
class parent:
  def __init__(self,name):
    self.name=name
    print("Parent constructor called...")

class child(parent):
  def __init__(self,name,age):
    super().__init__(name)
    self.age=age
    print("child constructor called...")

child=child("Yadu",21)

Parent constructor called...
child constructor called...

## polymorphism

1.method overriding
In object oriented programming, polymorphism allows same method name to behave differently based on the object that call it
Types of

In [ ]:
class A:
    def show(self):
      print("class A")
class B(A):
  def show(self):
    print("class B")
class C(B):
  def show(self):
    print("class C")

obj=C()
obj.show() #method overriding

class C

In [ ]:
class A:
  def show(self):
    print("Class A")
class B(A):
  def show(self):
    super().show()
    print("class B")
class C(B):
  def show(self):
    super().show()
    print("Class C")

obj=C()
obj.show()

Class A
class B
Class C

In [ ]:
class animal:
  def speak(self):
    print("Animal is making sound")
class dog(animal):
  def speak(self):
    print("Dog bark")
class cat(animal):
  def speak(self):
    print("cat meow")

dog=dog()
cat=cat()

dog.speak()
cat.speak()

Dog bark
cat meow

In [ ]:
def fn(x):
  print(x)

fn(4)

4

Default Arguments-Providing default values to parameter

In [ ]:
class calculator:
  def add(self,a=0,b=0,c=0):
    print(a+b+c)
calc=calculator()
# Call the mthod with differnt numbers of arguments
calc.add(5)
calc.add(5,10)
calc.add(5,10,20)

5
15
35

Variable=Length arguments(*args,**kwargs)

Positional arguments(*args)

In [ ]:
class mathoperations:
  def add(add,*numbers):
    total=sum(numbers)
    print(f"sum: {total}")

math=mathoperations()

# call the method with n number of argumetns using (*args)
math.add(5)
math.add(5,10)
math.add(1,2,3,4)

sum: 5
sum: 15
sum: 10

keyword arguments (**keywords)

In [ ]:
class greeting:
  def say_hello(self,**kwargs):
    print(f"Hello {kwargs['name']}!")
    print(f"you are {kwargs['age']} years ols")
    print(f"you are from{kwargs['city']}!")

g=greeting()
#g.say_hello()
g.say_hello(name='yadu',age=20,city='Thrissur')

Hello yadu!

In [ ]:
class car:
  def whatcar(self,**kwargs):
    print(f"Hello {kwargs['name']}!")
    print(f"u are buying brand={kwargs['car']}")
    print(f"model is {kwargs['model']}")
g=car()
g.whatcar(name='yadu',car='marutisuzuki',model='dzire')

Hello yadu!
u are buying brand=marutisuzuki
model is dzire

## encapsulation

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name=company_name
    self._company_id=company_id
c1=company("Tcs",91)
print(c1._company_id) # we can print one underscore variable
#print(c1._company_name)  #we can't print two underscore variable

double underscored variable we can't acces outside of class, but we can access on the class

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name = company_name
    self._company_name = company_id

  def get_company_name(self):
    print(self.__company_name)

c1=company("TCS",91)
c1.get_company_name()  #wwe can simple access now

In [ ]:
class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number = account_number
    self.__balance=balance

  def deposit(self,amount):
    if amount >0:
      self.__balance+=amount
      print(f"Deposited {amount}, New Balance:{self.__balance}")
    else:
      print("Invalid deposit error")

  def get_balance(self):
      return self.__balance

account=bankaccount("12345",1000)
account.deposit(500)
# print(account.__balance) Attributeerror = 'bankaccount' bas no attribute '_bankaccount__balance
print(account.get_balance())

Deposited 500, New Balance:1500
1500

In [ ]:
class bankaccount:
  def __init__(self,accountnumber,balance):
    self.__accountnumber=accountnumber
    self.__balance=balance

  def deposit(self,amount):
    if amount>0:
      self.__balance+=amount
      print(f"deposit {amount}, Balance={self.__balance}")
    else:
      print("wrong invalid")

  def withdraw(self,amount):
    if amount>0:
      self.__balance-=amount
      print(f"withdraw {amount}, New Balance={self.__balance}")
    else:
      print("wrong invalid")


account=bankaccount("123456",3000)
account.withdraw(500)
account.deposit(500)

withdraw 500, New Balance=2500
deposit 500, Balance=3000

In [ ]:
apple=bankaccount("1235648",4000)
apple.withdraw(543)
apple.deposit(565)

withdraw 543, New Balance=3457
deposit 565, Balance=4022

##Abstraction
Abstraction is a concept of object oriented programming that focus on hiding the implementation
 details and showing only the necessary features
 of an object
 - it allows users to focus on what an object does rather than how it does it

Example:When u use a smartphone you only see the interface (buttons,icons) but you don't need to know
how the internal circuits work

Why is abstraction important?
 - Simplifies complex systems by focusng only on essential aspects.
 - Reduces code complexity and increas reusability
 - Enhance security by restricting direct access to implementation details

Abstraction in python using abstract classes
 - python provides abstraction using abstract classes and abstract methods which are defined in abc module
 - abstract class: a class that contain one or more abstract method,it cannot be instantised directly.
 - abstract method: A method that is declared but contains no implementation(must be implemented by child classes

 From abc import ABC,abstract method

In [ ]:
from abc import ABC, abstractmethod

class Vehicle(ABC): #abstract class
 @abstractmethod
 def start_engine(self):
   pass #abstract method with no implement

 @abstractmethod
 def stop_engine(self):
   pass #abstract method with no implementation

#An abstract class cannot be instanttiated directly
v=Vehicle() #Type error:Cant instantate abstract claas vehicle with abstract methods start_engine,stop_engine

In [ ]:
from abc import ABC, abstractmethod

class Vehicle(ABC): #abstract class
 @abstractmethod
 def start_engine(self):
   pass #abstract method with no implement

 @abstractmethod
 def stop_engine(self):
   pass #abstract method with no implementation

#making child class for abstract class instantiating

class car(vehicle):  #child class of vehicle
  def start_engine(self):  #also we need to create same function (method) in child class other wise
    print("Car engine started")

  def start_engine(self): # also we need to create same function (method) in child class  other wise it will shows error!
    print("Car engine stopped")

car= car()
car.start_engine()
car.stop_engine()

- If we want to make an object from abstrct class we cant directly make object from the abstract class
- So we need to make child class for abstract class object making
- And also need to make same method [function] on child class also
- all child classes must implement the abstract method  of parent abstract class
- Abstract class can have both abstract method and concrete(regular) method.

In [ ]:
from abc import ABC, abstractmethod

class shape(ABC):
  @abstractmethod
  def calculate_area(self):
      pass

class circle(shape):

  def __init__(self,radius):
    self.radius=radius

  def calculate_area(self):
    print(f"circle area is : {3.14* (self.radius)**2}")

class rectangle(shape):

  def __init__(self,width,height):
    self.width=width
    self.height=height

  def calculate_area(self):
    print(f"rectangle area is : {self.width*self.height}")

cir=circle(10)
rect=rectangle(5,10)

cir.calculate_area()
print()
rect.calculate_area()

circle area is : 314.0

rectangle area is : 50

In [ ]:
distance=500
from abc import ABC,abstractmethod

class bike(ABC):
  @abstractmethod
  def speed(self):
    pass

class ninja(bike):
  def __init__(self,time):
    self.time=time
  def speed(self):
    print("speed=",{(self.time)*distance})

class ducati(bike):
  def __init__(self,time):
    self.time=time
  def speed(self):
    print(f"speed={(self.time)*distance}")

wer=ducati(60)
wer.speed()

speed=30000

In [ ]:
class car:
  wheel=4

  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

  @classmethod
  def change_wheels(cls,new_wheels):
    cls.wheels = new_wheels
    print(f"The number of wheels has been updated to {cls.wheels}")

#create an instance of car
car1=car("toyota","innova")

#call the class method to modify class variable
car.change_wheels(6)

print()

#class variable " wheels " is changed for all instances
print(f"car variable is updated to : {car1.wheels}")

The number of wheels has been updated to 6

car variable is updated to : 6

QUestion
1. Inheritance
Q1: Create a base class Person with attributes name and age. Inherit it to a class Student with additional attribute student_id. Write a method to display all details.

2. Encapsulation
Q2: Create a class BankAccount with private attributes balance and public methods deposit() and withdraw(). Add a method to display balance safely.

3. Abstraction
Q3: Create an abstract class Shape with an abstract method area(). Create two derived classes Circle and Square and implement the area() method for both.

4. Polymorphism
Q4: Create a function describe(animal) that accepts objects from different classes like Dog and Cat, both having a method speak(). The function should call speak() method and print the result.

In [ ]:
class person:
  def __init__(self,name,age):
    self.name =name
    self.age =age

  def display_person_info(self):
    print("name=",self.name)
    print("age=",self.age)


class student(person):
  def __init__(self,name,age,student_id):
    self.student_id =student_id
    super().__init__(name, age)

  def display_student_info(self):
      self.display_person_info()
      print(f"Student ID: {self.student_id}")

student1 = student("Alice", 20, "S12345")
student1.display_student_info()

name= Alice
age= 20
Student ID: S12345

In [ ]:

class bankaccount:

  def __init__(self,balance):

    self._balance=balance

  def deposit(self,amount):
    self.__amount=amount
    if self.__amount<=0:
       print("invalid Error")
    else:
      self._balance+=self.__amount

  def withdraw(self,amount):
    self.__amount=amount
    if self.__amount<=0:
       print("invalid Error")
    else:
       self._balance-=self.__amount

  def show(self):
     print(self._balance)

e1=bankaccount(60)
e1.deposit(100)
e1.show()

160

In [ ]:
from abc import ABC, abstractmethod

class shape(ABC):

  @abstractmethod
  def area(self):
    pass

class circle(shape):
  def __init__(self,r):
    self.r=r
  def area(self):
    print("Area=",(3.14*self.r*self.r))

class square(shape):
  def __init__(self,a):
    self.a=a
  def area(self):
    print("Area=",((self.a)*(self.a)))
c1=circle(13)
r1=square(12)
r1.area()
c1.area()

Area= 144
Area= 530.66

In [ ]:
class describe:
  def speak(self):
    print("cat or dog")


class dog(describe):
  def speak(self):
    print("the dog is angry")

class cat(describe):
  def speak(self):
    print("the cat is sleeping")

c1=dog()
c1.speak()

the dog is angry

Class MEthods

In [ ]:
class car:
  #class variable
  wheels=0

  def __init__(self,brand,model):
    self.brand=brand
    self.mmodel=model

  @classmethod
  def change_wheels(cls,new_wheels):
    cls.wheels=new_wheels
    print(f"The number of wheels has been updated to {cls.wheels}")

#create an instance of car
car1=car("toyota","etios")

# call the class method to modify the class variable
car.change_wheels(6)

print()

# the class variable "wheels" is now changed for all instances
print(f"car variable updated to :{car1.wheels}")

The number of wheels has been updated to 6

car variable updated to :6

 Intermediate Level Questions
5. Inheritance (Multi-level and Multiple)
Q5: Create a multi-level inheritance structure where Vehicle is the base class, Car inherits Vehicle, and ElectricCar inherits Car. Implement show_details() method in each class.

Q6: Implement multiple inheritance using classes Employee, Engineer, and Manager. Create a new class TechLead that inherits from both Engineer and Manager.

6. Encapsulation
Q7: Enhance the BankAccount class to restrict access to changing the balance directly. Add a property to check if the balance is below a threshold and trigger a warning.

7. Abstraction
Q8: Create an abstract class Appliance with abstract methods turn_on() and turn_off(). Implement this class in WashingMachine and Microwave.

8. Polymorphism (Method Overriding and Overloading Simulation)
Q9: Create a base class Notification with a method send(). Inherit and override this method in EmailNotification, SMSNotification, and PushNotification classes.

In [ ]:
class vehicle:
  def showdetail(self):
    print("Vehicle is car,bike,bus,lorry")

class car(vehicle):
  def showdetatil1(self):
    print("Car is petrol,disel,electric")

class electriccar(car):
  def showdetail2(self):
    print("E car run on battery")

c1=electriccar()
c1.showdetail()

Vehicle is car,bike,bus,lorry

In [ ]:
class employee:
  def f1(self):
    print("the employee is 100")
class engineer:
  def f2(self):
    print("the engineer has salary 500")
class manager(employee,engineer):
  def f3(self):
    print("the manager has salary 1000")

class teclead(manager,engineer):
  def f4(self):
    print("the tec leader has 2000")

In [ ]:
class bankaccount:
  def __init__(self,balance):
    self.__balance=balance

  def deposit(self,amount):
    self.amount=amount
    if self.amount<=0:
      print("Eroor")
    else:
      self.__balance+=self.amount

  def withdraw(self,amount):
    self.amount=amount
    if self.amount<=0:
      print("Eroor")
    else:
      self.__balance-=self.amount


  def show(self):
    print(self.__balance)
    if self.__balance<=100:
      print("low balance")

c1=bankaccount(0)
c1.deposit(0)
c1.show()

Eroor
0
low balance

In [ ]:
from abc import ABC, abstractmethod
class appliance:

  @abstractmethod
  def turnon(self):
    pass

  @abstractmethod
  def turnoff(self):
    pass

class washingmachine(appliance):

  def turnon(self):
    print("washing machine is turn on")
  def turnoff(self):
    print("washing machine is turned off")

class microwave(appliance):
  def turnon(self):
    print("microvave is turn on")
  def turnoff(self):
    print("microwave is turned off")

z1=microwave()
z1.turnon()

microvave is turn on

In [ ]:
class notification:
  def send(self):
    print("Notification sending")

class emailnotification(notification):
  def send(self):
    super().send()
    print("email Notification sending")
class smsnotification(emailnotification):
   def send(self):
    super().send()
    print("sms Notification sending")
class pushnotification(smsnotification):
   def send(self):
    super().send()
    print("push Notification sending")

b2=pushnotification()
b2.send()

Notification sending
email Notification sending
sms Notification sending
push Notification sending


Q10: Simulate method overloading by writing a class Calculator with a method add() that handles:

two integers

two floats

two strings

(Hint: use default arguments or type checking)

In [ ]:
class calculator:
  w=0
  def add(self,a,b):
    self.a=a
    self.b=b
    print("sum=",self.a+self.b)

x1=calculator()
x1.add("apple","tree")

sum= appletree

Generators

In [ ]:
def greeting():
  print("HI")
  yield 1
  print('how are you')
  yield 2
  print("Are you there ")
  yield 3

messenger=greeting()
result=next(messenger)
print(result)
print()
result=next(messenger)
print(result)
print()
result=next(messenger)
print(result)

HI
1

how are you
2
Are you there
3

ITerator

In [ ]:
mytuple=("apple","banana","cherry")
myit=iter(mytuple)
print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
mystr="banana"
myit=iter(mystr)
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n

In [ ]:
mytuple=("apple","banana","cherry")
for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:
class mynumbers:
  def __iter__(self):   #cccccccccc
    self.a=1
    return self         #3333333333
  def __next__(self):    #cccccccccc
    x=self.a
    self.a+=1
    return x

myclass=mynumbers()
myiter=iter(myclass)       #3333333
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

#Multithreading

What is Threading?
Threading allows multiple parts of a prograrm to run concurrently.

Useful for tasks like:
Handling multiple user requests.
Background tsks (eg. monitoring sensors).
Downloading multiple files simultaneously.
Example
Smart Home App :-

Mananging multiple tasks like:
Secutiy camera feed.
Processing tempreture data.
Respnding to user commands.
Threading ensures smooth and efficient functioning.
How to use Threading in Python
Import the threading module.
Create threads using threading.Thread( )
Start threads using ,start( )
Wait for threads to finish using .join( )

How to use Threading in Python
Import the threading module.
Create threads using threading.Thread( )
Start threads using ,start( )
Wait for threads to finish using .join( )

In [ ]:
#Example 1:Basic thread
import threading
def task():
  print("Thread running")

thread=threading.Thread(target=task)
thread.start()
thread.join()

In [ ]:
#Example 2

import threading

def task1():
  print("Task 1")

def task2():
  print("Task 2")

t1=threading.Thread(target=task1)
t2=threading.Thread(target=task2)

t1.start()
t2.start()

t1.join()
t2.join()

Task 1
Task 2

In [ ]:
import threading

def print_numbers():
  for i in range(5):
    print(i)

thread=threading.Thread(target=print_numbers)
thread.start()
thread.join()

0
1
2
3
4

In [ ]:
import threading
import time

def download_file(file):
  print(f"downloading{file}")
  time.sleep(2)
  print(f"{file} downloaded")

files=["file1.txt","file2.txt","file3.txt"]
threads=[threading.Thread(target=download_file,args=(f,))for f in files]

for t in threads:
  t.start()

for t in threads:
  t.join()

downloadingfile1.txt
downloadingfile2.txt
downloadingfile3.txt
file1.txt downloaded
file2.txt downloaded
file3.txt downloaded

3.Using Threads with Arguments

In [ ]:
import threading
def greet(name):
  print(f"Hello, {name}!")

thread=threading.Thread(target=greet,args=("Alice",))
thread.start()
thread.join()

Hello, Alice!

Two threading
-->1st import threading and time define chef_work() and make a for loop for range(5).each loop print("Chef:Preparing dish {i+1}...") and use time.sleep() wait for 2seconds then if i==2: print("Chef: Calling assistanta to wash utensils.") then wait for 1 seconds.
make thread assistant_thread with assistant work as target start() join().
define a function assistant work and make a for loop for range(3)
print("Assistant: Washing utensil {j+i}...") wait for 2 seconds print(" Assistant: All utensils are clean.")

In [ ]:
import threading
import time

#Function for the chefs work (Thread 1)
def chef_work():
    for i in range(5): #Chef prepares 5 dishes
        print(f"Chef:Preparing dish {i+1}...")
        time.sleep(2) #Simulate time taken to prepare a dish
        if i==2: #Assistant start washing utensils during the 3rd dish
            print("Chef: Calling assistanta to wash utensils.")
            time.sleep(1) #Simulate time taken to call assistants
            assistant_thread=threading.Thread(target=assistant_work)
            assistant_thread=thread.start()
            assistant_thread=thread.join() #Wait for assistant to finish
            print("Chef: Assistant done. Resuming dish preparation.")
print("Chef: All dishes are prepared.")

#function for assistants work (Thread2)
def assistant_work():
  for j in range(3): #Assistants washes 3 utensils
    print(f"Assistant: Washing utensil {j+i}...")
    time.sleep(2) #Simulate time taken to wash each utensil
  print(" Assistant: All utensils are clean.")

print("Kitchen: Starting work.")
chef_thread= threading.Thread(target=chef_work)
chef_thread.start()
chef_thread.join()  # Wait for the chef to complete their work
print("Kitchen: All work completed.")

Chef: All dishes are prepared.
Kitchen: Starting work.
Chef:Preparing dish 1...
Chef:Preparing dish 2...
Chef:Preparing dish 3...
Chef: Calling assistanta to wash utensils.

Exception in thread Thread-36 (chef_work):
Traceback (most recent call last):
  File "/usr/lib/python3.11/threading.py", line 1045, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.11/threading.py", line 982, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-10-1815708485>", line 13, in chef_work
  File "/usr/lib/python3.11/threading.py", line 959, in start
    raise RuntimeError("threads can only be started once")
RuntimeError: threads can only be started once

Kitchen: All work completed.

### Qustion
Write a Python program using threading to simulate music playback and lyrics downloading:

Music playback runs in one thread for 5 seconds, printing a message each second.
During the 3rd second, a separate thread starts to simulate downloading lyrics, which takes 3 seconds.
Ensure the music playback waits for the lyrics to finish downloading before continuing.

In [ ]:
import threading
import time
def down_lyrics():
  print("Downloading lyrics...")
  for i in range(3):
    time.sleep(1)
    print(i+1,"second")

def music_playback():
  print("Music Player: Starting music playback.")
  for i in range(5):
    time.sleep(1)
    print("Music player: Playing music",(i+1),"seconds")
    if i==3:
      print("Music Player: Downloading lyrics in the background")
      t1=threading.Thread(target=down_lyrics)
      t1.start()
      t1.join()
  print("Music Player:End music playback")

t2=threading.Thread(target=music_playback)
t2.start()
t2.join()

Music Player: Starting music playback.
Music player: Playing music 1 seconds
Music player: Playing music 2 seconds
Music player: Playing music 3 seconds
Music player: Playing music 4 seconds
Music Player: Downloading lyrics in the background
Downloading lyrics...
1
2
3
Music player: Playing music 5 seconds
Music Player:End music playback

Eg1

In [ ]:
def fun1():  #each function is process
  print(1+2)
def fun2():
  print(2+2)
import threading
t1 = threading.Thread(target=fun1)
t2 = threading.Thread(target=fun2)
t1.start()
t2.start()
t1.join()
t2.join()

3
4

In [ ]:
import threading
def print_cube(num):
  """
  function to print cube of a given num
  """
  print("Cube: {}".format(num*num*num))

def print_square(num):
  """
  function to print square of a given num
  """
  print("Square: {}".format(num*num))

if __name__=="__main__":
#creating thread
  t1 = threading.Thread(target=print_square,args=(10,))
  t2 = threading.Thread(target=print_cube,args=(10,))

#starting thread 1
t1.start()
#starting thread 2
t2.start()

#wait until thread 1 is completely exexcuted
t1.join()
#wait until thread2 is completely executeeed
t2.join()

#both threads completly executed
print("Done!")

Square: 100
Cube: 1000
Done!

In [ ]:
import threading
#global variable x
x=0
def increment():
  """
  function to increment global variable x
  """
  global x
  x+=1

def thread_task():
  """
  Task for thread ,
  calls increment function 100000 times
  """
  for _ in range(100000):
    increment()

def main_task():
  global x
  #setting global variable x as 0
  x=0
  #creating threads
  t1=threading.Thread(target=thread_task)
  t2=threading.Thread(target=thread_task)
  #start threads
  t1.start()
  t2.start()
  #wait until threads finish their job
  t1.join()
  t2.join()

if __name__=="__main__":
  for i in range(10):
    main_task()
    print("iteration {0}:x={1}".format(i,x))

iteration 0:x=200000
iteration 1:x=200000
iteration 2:x=200000
iteration 3:x=200000
iteration 4:x=200000
iteration 5:x=200000
iteration 6:x=200000
iteration 7:x=200000
iteration 8:x=200000
iteration 9:x=200000

In [ ]:
import threading

# global variable x
x = 0
lock = threading.Lock()

def increment():
    """
    Function to increment global variable x in a thread-safe way
    """
    global x
    with lock:
        x += 1

def thread_task():
    """
    Task for thread,
    calls increment function 100000 times
    """
    for _ in range(100000):
        increment()

def main_task():
    global x
    x = 0
    # creating threads
    t1 = threading.Thread(target=thread_task)
    t2 = threading.Thread(target=thread_task)
    # start threads
    t1.start()
    t2.start()
    # wait until threads finish their job
    t1.join()
    t2.join()

if __name__ == "__main__":
    for i in range(10):
        main_task()
        print("iteration {0}: x={1}".format(i, x))

iteration 0: x=200000
iteration 1: x=200000
iteration 2: x=200000
iteration 3: x=200000
iteration 4: x=200000
iteration 5: x=200000
iteration 6: x=200000
iteration 7: x=200000
iteration 8: x=200000
iteration 9: x=200000

In [ ]:
import threading
#global variable x
x=0

def increment():
  """
  function to increment global variable x
  """
  global x
  x+=1

def thread_task(lock):
  """
  task for thread
  calls increment function 100000 times
  """
  for _ in range(100000):
    lock.acquire()
    increment()
    lock.release()

def main_task():
  global x
  #setting global variable x as 0
  x=0
  #creating a lock
  lock=threading.Lock()
  #creating threads
  t1=threading.Thread(target=thread_task,args=(lock,))
  t2=threading.Thread(target=thread_task,args=(lock,))
  #start threads
  t1.start()
  t2.start()
  #wait until threads finish their job
  t1.join()
  t2.join()

if __name__=="__main__":
  for i in range(10):
    main_task()
    print("iteration {0}: x={1}".format(i,x))

iteration 0: x=200000
iteration 1: x=200000
iteration 2: x=200000
iteration 3: x=200000
iteration 4: x=200000
iteration 5: x=200000
iteration 6: x=200000
iteration 7: x=200000
iteration 8: x=200000
iteration 9: x=200000

In [ ]:
def evennumber(n):
  for i in range(n):
    if i%2 == 0:
      print("Even :",i)
    else:
      pass
def oddnumber(n):
  for i in range(n):
    if i%2 == 1:
      print("Odd :",i)
    else:
      pass
import threading
t1=threading.Thread(target=evennumber,args=(20,))
t2=threading.Thread(target=oddnumber,args=(16,))
t1.start()
t2.start()
t1.join()
t2.join()
print("End")

Even : 0
Even : 2
Even : 4
Even : 6
Even : 8
Even : 10
Even : 12
Even : 14
Even : 16
Even : 18
Odd : 1
Odd : 3
Odd : 5
Odd : 7
Odd : 9
Odd : 11
Odd : 13
Odd : 15
End

In [ ]:
import time
import threading

def evennumber(n):
    for i in range(n):
        if i == 10:
            time.sleep(20)  # Simulates a long-running task
        if i % 2 == 0:
            print("Even :", i)

def oddnumber(n):
    for i in range(n):
        if i % 2 == 1:
            print("Odd :", i)

t1 = threading.Thread(target=evennumber, args=(20,))
t2 = threading.Thread(target=oddnumber, args=(16,))

t1.start()
t2.start()

t1.join()
t2.join()

print("End")

2. Multithreading in Python

In [ ]:
#1. File Operations in Python
#Python provides built-in functions to perform file operations like read, write, append, etc.

# Writing to a file
with open("sample.txt", "w") as file:
    file.write("This is a sample text.\n")
    file.write("Python makes file operations easy.\n")

# Reading from the file
with open("sample.txt", "r") as file:
    content = file.read()
    print("File Content:\n", content)

In [ ]:
import threading
import time

def task1():
    for i in range(3):
        print("Task 1 running")
        time.sleep(1)

def task2():
    for i in range(3):
        print("Task 2 running")
        time.sleep(1)

# Creating threads
t1 = threading.Thread(target=task1)
t2 = threading.Thread(target=task2)

# Starting threads
t1.start()
t2.start()

# Wait for threads to finish
t1.join()
t2.join()

print("Both tasks completed.")

3. File Operation + Multithreading Combined

In [ ]:
import threading

def write_even_numbers(filename):
    with open(filename, 'w') as f:
        for i in range(0, 20, 2):
            f.write(f"Even: {i}\n")

def write_odd_numbers(filename):
    with open(filename, 'w') as f:
        for i in range(1, 20, 2):
            f.write(f"Odd: {i}\n")

# Create threads
t1 = threading.Thread(target=write_even_numbers, args=("even.txt",))
t2 = threading.Thread(target=write_odd_numbers, args=("odd.txt",))

# Start threads
t1.start()
t2.start()

# Wait for both to complete
t1.join()
t2.join()

print("Finished writing to files.")

# Read and print files
with open("even.txt", "r") as fe:
    print("\nEven numbers file content:")
    print(fe.read())

with open("odd.txt", "r") as fo:
    print("\nOdd numbers file content:")
    print(fo.read())

# File HAndling

In [ ]:
# This will create the file if it doesn't exist
file = open("newfile.txt", "w")
file.write("This is not a new file.")
file.close()

In [ ]:
file = open("newfile.txt", "a")
file.write("\nNew line added.")
file.close()

In [ ]:
file = open("newfile.txt", "r")
content = file.read()
print(content)
file.close()

This is not a new file.
New line added.

In [ ]:
with open("newfile.txt", "r") as file:
    content = file.read()
    print(content)

This is not a new file.
New line added.

In [ ]:
file = open("unique_file.txt", "x")
file.write("This file was created using 'x' mode.")
file.close()

FileExistsError: [Errno 17] File exists: 'newfile.txt'

In [ ]:
with open('example.txt', 'x') as file:
        file.write("This is a new file created.")

FileExistsError: [Errno 17] File exists: 'example.txt'

1.Write a file

In [ ]:
#Program to write to a file
with open("example1.txt","w") as f:
  f.write("Hello,this is a file write operation\n")
  f.write("Write another line.\n")

print("Data written successfully to example1.txt")

Data written successfully to example1.txt

2.Read from a file

In [ ]:
#program to read a file
with open("example1.txt","r") as f:
  content=f.read()
print("File content:\n",content)

File content:
 Hello,this is a file write operation
Write another line.

3.Append to a file

In [ ]:
# Program to append to a file
with open("example1.txt","a") as f:
  f.write("This line is appended at the end.\n")
print("Data appended successfully")

Data appended successfully

4. Read file line by line

In [ ]:
# Reading file line by line
with open("example1.txt","r") as f:
  for line in f:
    print("line:",line.strip())

line: Hello,this is a file write operation
line: Write another line.
line: This line is appended at the end.

5. Count Words in a File

In [ ]:
# Count total words in a file
with open("example1.txt","r") as f:
  content=f.read()
  words=content.split()
  print("Total words:",len(words))

Total words: 16

6. Copy File Content

In [ ]:
# Copy contents of one file to another
with open("example1.txt","r")as src,open("copy_example1.txt","w") as dest:
  for line in src:
    dest.write(line)
    print("File copied to copy_example1.txt")

File copied to copy_example1.tx
File copied to copy_example1.tx
File copied to copy_example1.tx

7. Search for a Word in a File

In [ ]:
search_word="file"
found=False

with open("example1.txt","r") as f:
  for line_num, line in enumerate(f,1):
    if search_word in line:
      print(f"Word '(search_word)' found on line {line_num}: {line.strip()}")
      found = True

if not found:
  print(f"Word '(search_word)' not found.")

Word '(search_word)' found on line 1: Hello,this is a file write operation

8. Delete Contents of a File (Empty the File)

In [ ]:
# Clear file content without deleting the file
open("example1.txt","w").close()
print("File content cleared.")

File content cleared.

1. How do you open a file in Python? What are different modes?

Use the built-in open() function:

In [ ]:
file = open("file.txt","r")

In [ ]:
#2. What is the difference between write() and writelines()?
#write() writes a single string.
#writelines() writes a list of strings (no automatic newlines).
with open("sample.txt","w")as f:
  f.write("hello\n") #one line
  f.writelines(["Line1\n","Line2\n"])  #Multiple items

In [ ]:
#3. How do you read a file line by line?
with open("sample.txt","r")as f:
  print(line.strip())

This line is appended at the end.

In [ ]:
# 4. What is the use of with open(...) syntax?
#It ensures the file is automatically closed after the block, even if an error occurs.
with open("data.txt","r") as f:
   content=f.read()

In [ ]:
with open("source.txt","w") as src:
  src.write("hi this is new file")

In [ ]:
with open("what.txt","w") as qwe:
  qwe.write("whats your name")

In [ ]:
with open("what.txt","r") as qwe, open("apple.txt","w")as gpt:
  gpt.write(qwe.read())

In [ ]:
file = open("red.txt","w")
file.write("apple is red")
file.close()
file=open("red.txt","r")
file.read()

'apple is red'

# Exception Handling

Exception handling is a programming concept used to manage error or unexpected conditions that occure during the exicution of a programme .it alles the programe to continue running of failgracefully instead of crashing .

Use Exception Handling?
To prevent the entire program from crashing due to runtime errors.

To provide informative error messages.

To allow recovery or alternative execution paths.

common terms
Exception: An error that occurs during program execution.

Try block: Code that might throw an exception.

Except block: Code that runs if an exception occurs.

Finally block: Code that always runs, whether an exception occurred or not.

Raise: Manually trigger an exception.

What are Errors?
Errors are issues in the code that prevent it from executing successfully.
Types of Errors

Synatx Errors
Runtime Erros
Logical Errors

1. Syntax Errors

Occur when the code vilates python's syntax rules.

Detetcted before execution.

Example: Missing colons, unmatched parentheses.

_ missing a colon at the end of the if statement

if 5>3 print("this willl cause a syntax error")

Error Message : Syntax Error: invalid syntax

The python interpreter cannot undersstand the code because of incorrect syntax, such as missing colons, unmatched parentheses. or msissplled keywords.

In [ ]:
if 5>3
  print("this will cause a syntax error")

this will cause a syntax error

2. Runtime Errors

Occur during program execution
Example: Division by zero , accessing undefined variable
Example Code Division by zero :

x=1=/0 print(x)

Error Message : zero Division Error : division by zero

The program syntax is correct, but the operation fails at runtime(eg, dividing by zero, accessing an undefined variable , or file not found).

In [ ]:
x=1/0
print(x)

3. Logical Errors

The program runs but gives incorrect results due to logic flaws,
Example: incorrect formula or condition.
incorrect formula for calculating the area of a rectangle

length =5

width= 10

area = length +width # should be length * width

print("Area;",area)

ouput: Area :15

The program runs successsfully but, the result is wrong because of a mustake in the logic of formula

In [ ]:
try:
  num=int(input("Enter a number:"))
  result=10/num
except ZeroDivisionError:
  print("Cannot divide by zero!")
except ValueError:
  print("Please enter a valid number!")
else:
  print("Division successful result:",result)
finally:
  print("This block always runs")

This block always runs

KeyboardInterrupt: Interrupted by user

In [ ]:
# incorrect formula for calculating the area of a rectangle
length=5
width=10
area=length+width #should be length * width
print("Area:",area)

Area: 15

The Try-Except Block
Basis Structrue:

(try: code that might raise an exception

except Esception Type: code to handle the exception)

Example code:

try:

x= int (input("Eneter a number:")) y=10/x

exceptzeroDivisionError:

print("Cannot divide by zero")

In [ ]:
try:
  x=int(input("Enter a number:"))
  y=10/x
  print(y)
except ZeroDivisionError:
  print("Cannot divide by zero")

Enter a number:0
Cannot divide by zero

In [ ]:
try:
  x=int(input("Enter a number:"))
  y=10/x
except ZeroDivisionError as e:
  print(e)

Enter a number:0
division by zero

In [ ]:
try:
  print(a) #The a is not defined and it will show error
except:
  print("Error occured") #but there is except keyboard so thats why error not showing

`If except we do, The error will not show thats the use of the try-exept block`

In [ ]:
print(a)
print("Hello world")

NameError: name 'a' is not defined

In [ ]:
try:
  print(a)
except:
  print("Error occured")
print("hello world")

Error occured
hello world

`If except we do, The error will not show thats the use of the try-exept block`
`And it will not stop the code it just skip the error`

Else Block :   

Runs only if no esceptions occur.

In [ ]:
try:
  result=10/2
except ZeroDivisionError:
  print("Error")
else:
  print("result:",result)

result: 5.0

Finally Block:

Always runs, regardlesss of whether an exception occurred

Useful for cleanup (ef, closing files)

In [ ]:
try:
  file_=open("data.txt","r")

except FileNotFoundError:
  print("File not found!")

finally:
  print("End of the program")

File not found!
End of the program

In [ ]:
import math
print(math.exp(1000))  #its overflow error

OverflowError: math range error

In [ ]:
obj=42
obj.append(5)  #Attribute Error

In [ ]:
date={"name":"john"}
print(data["age"]) #key error

In [ ]:
my_list=[1,2,3]
print(my_list[5]) #Index Error

In [ ]:
print(int("Hello")) #Value ERRor

In [ ]:
my_list=[1,2,3]
my_list.remove(5)

In [ ]:
print("5"+5) #Type ERror

In [ ]:
open("nonexistant_file,.txt") #FileNotFoundError

In [ ]:
try:
  open("nonexistant_file.txt")
except FileNotFoundError as e:
  print(e)

[Errno 2] No such file or directory: 'nonexistant_file.txt'

Raise Exception

The raise statement in python is used to manually trigger an exception when a specific error condition occurs.

In [ ]:
age=int(input("Enter your age"))

if age>0:
  raise ValueError("age cannot be negative")

else:
  print(f"Your age is {age}")

print("no try except")

Enter your age1

ValueError: age cannot be negative

In [ ]:
try:
  age=int(input("enter your age:"))

  if age<0:
    raise ValueError("Age cnanot be negtive")
  else:
    print(f"your age is {age}")
except ValueError as e:
  print(e)
print("Try except finished")

enter your age:-76
Age cnanot be negtive
Try except finished

Custom Exceptions

Custom exceptions are user- defined exceptions in Python that help handle domain-specific errors more meaningully and improve code clarity.

In [ ]:
class InvalidAgeException(Exception):
  "Raised when the input value is less than 18"
  pass

# yout need to guess this number
number=18
try:
  input_num= int(input("Enter the number:"))
  if input_num < number:
    raise InvalidAgeException

  else:
    print("Elligible to vote")

except InvalidAgeException:
  print("Exception Occurred : Invalid Age")

Enter the number:3
Exception Occurred : Invalid Age

 Try-Except-Else

Q1. Write a Python program that divides two numbers and handles division by zero.

In [ ]:
try:
  a= int(input("Enter numerator: "))
  b=int(input("Enter denominator: "))
  result=a/b
  print("Result:",result)
except ZeroDivisionError:
  print("Error: cannot divide by zero")

Enter numerator: 6
Enter denominator: 3
Result: 2.0

 Try-Except-Else

Q2. Demonstrate try-except-finally where finally block executes no matter what.

In [ ]:
try:
  x=int(input("Enter a number:"))
  y=10/x
  print("Result:",y)
except ZeroDivisionError:
  print("Caught divide by zero error .")
finally:
  print("Finally block always executes.")

Enter a number:5
Result: 2.0
Finally block always executes.

Try-Except-Else

Q3. Use try-except-else to handle invalid input and display result if no exception.

In [ ]:
try:
  num=int(input("Enter an integer:"))
except ValueError:
  print("Invalid input! Not an integer.")
else:
  print("Not entered: ",num)

Raise

Q4. Raise an exception if age is below 18.

In [ ]:
age=int(input("Enter your age: "))
if age<18:
  raise ValueError("Age must be at least 18")
else:
  print("Access granted.")

Enter your age: 60
Access granted.

 Custom Exception
Q5. Create and raise a custom exception NegativeNumberError.

In [ ]:
class NegativeNumberError(Exception):
  pass
num=int(input("Enter a positive number: "))
if num<0:
  raise NegativeNumberError("Negative number is not allowed")
else:
  print("Number accepted")

Enter a positive number: 2
Number accepted

Multiple Exceptions Handling

Q6. Write a program that handles both ValueError and ZeroDivisionError.

In [ ]:
try:
  a=int(input("Enter a number: "))
  b=int(input("Enter another number: "))
  print("Result:",a/b)
except ValueError:
  print("Please enter only numbers.")
except ZeroDivisionError:
  print("Cannot divide by zero")

Enter a number: 3
Enter another number: 2
Result: 1.5

Using Exception Object

Q7. Catch and print the actual exception message.

In [ ]:
try:
  n=int(input("Enter a number: "))
  print(10/n)
except Exception as e:
  print("Exception occured: ",e)

Enter a number: 5
2.0

Custom Exception with Constructor

Q8. Create a custom exception that takes a message.

In [ ]:
class InvalidInputError:
  def __init__(self,message):
    self.message=message
    super().__init__(self.message)

value=int(input("enter a number less than 100"))
if value>100:
  raise InvalidInputError("Value not less than 100")

enter a number less than 100466

TypeError: object.__init__() takes exactly one argument (the instance to initialize)

 Exception in Loop

Q9. Handle exception during a loop of user inputs.

In [ ]:
for i in range(3):
  try:
    n=int(input(f"Enter number {i+1}: "))
    print("Reciprocal:",1/n)
  except ZeroDivisionError:
    print("Cannot divide by zero.")
  except ValueError:
    print("Please enter a valid integer.")

Enter number 1: 4
Reciprocal: 0.25
Enter number 2: 7
Reciprocal: 0.14285714285714285
Enter number 3: 8
Reciprocal: 0.125

Nested Try Blocks

Q10. Show nested try-except usage.

In [ ]:
try:
  a= int(input("Enter a number:"))
  try:
    result=10/a
    print("Result:",result)
  except ZeroDivisionError:
    print("Inner error: divide by zero")
except ValueError:
  print("Outer Error : invalid input")

Enter a number:5
Result: 2.0

Q11. Handle File Not Found Error

Write a program to open a file and handle the case when the file does not exist.

In [ ]:
try:
  with open("data.txt","r") as file:
    content = file.read()
    print(content)
except FileNotFoundError:
  print("Error: File not found.")

Error: File not found.

Q12. Catch Multiple Exceptions in One Line

Write a program that handles both ValueError and TypeError in one except block.

In [ ]:
try:
  a=int('abc')+"xyz"
except (ValueError, TypeError) as e:
  print("Caught Exception:",e)

Q13. Using assert Statement

Raise an AssertionError if the input number is not even.

In [ ]:
num= int(input("Enter an even number: "))
assert num%2==0,"Not an even number"
print("Even number accepted.")

Enter an even number: 4
Even number accepted.

 Q14. Reraise an Exception

Reraise an exception after catching it.

In [ ]:
try:
  raise ValueError("A value error occured")
except ValueError as e:
  print("Caught an exception:",e)
  raise:  #reraising the exception

Q15. Create Custom Exception for Username Length

Create a custom exception ShortUsernameError if username is less than 5 characters.

In [ ]:
class ShortUsernameError(Exception):
  pass

username=input("Enter username: ")
if len(username) <5:
  raise ShortUsernameError("Username must be atleast 5 charecters")
else:
  print("Username accepted")

Enter username: 65476
Username accepted

Q16. Finally with Return

Demonstrate how finally executes even if return is used.

In [ ]:
def test():
  try:
    return "from try"
  finally:
    print("Finally block executed")

print(test())

Finally block executed
from try

Q17. Use Try-Except with Dictionary Key

Handle missing key in a dictionary lookup.

In [ ]:
data = {"name":"Alice","age":"25"}
try:
  print("City:",data["city"])
except KeyError:
  print("Error: Key not found.")

Error: Key not found.

 Q18. Exception in Function Call

Handle an exception raised inside a function.

In [ ]:
def divide(x,y):
  return x/y

try:
  print(divide(10,0))
except ZeroDivisionError:
  print("Division by zero not allowed")

Division by zero not allowed

Q19. Raise Exception on Negative Square Root

Raise ValueError if input is negative and calculate square root otherwise.

In [ ]:
import math

num= int(input("enter a number:"))
if num <0:
  raise ValueError("cannot calculate the squareroot of negative number")
else:
  print("Square root:",math.sqrt(num))

enter a number:5
Square root: 2.23606797749979

Q20. Use else with Loop and Exception

Use try-except-else in a loop and execute else only if no exception occurred.

In [ ]:
for i in range(2):
  try:
    n=int(input("Enter a number:"))
  except ValueError:
    print("Invalid number.")
  else:
    print("You entered:",n)

# RegEx

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

RegEx Module--Python has a built-in package called re, which can be used to work with Regular Expressions.

Import the re module:

import re

RegEx in Python--
When you have imported the re module, you can start using regular expressions:

q))Search the string to see if it starts with "The" and ends with "Spain":

In [ ]:
import re
txt="The rain in Spain"
x=re.search("^The.*Spain$",txt)
if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

RegEx Functions
The re module offers a set of functions that allows us to search a string for a match:

Function	Description

findall--Returns a list containing all matches

search--Returns a Match object if there is a match anywhere in the string

split--Returns a list where the string has been split at each match
sub	Replaces one or many matches with a string

[  ]  	A set of characters -	"[a-m]"  eg-abcdefghijklm


\	   Signals a special sequence (can also be used to escape special
characters) -	"\d"

.	      Any character (except newline character) -	"he..o"

^	      Starts with	- "^hello"

$	      Ends with	- "planet$"

*	       Zero or more occurrences	- "he.*o"

+       One or more occurrences	- "he.+o"

?	      Zero or one occurrences	- "he.?o"

{}       Exactly the specified number of occurrences -	"he.{2}o"

|	        Either or -	"falls|stays"

()	      Capture and group

In [ ]:
import re
txt="The rain in spain"
#Find all lower case characters alphabetically between "a" and "m":
x=re.findall("[a-m]",txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [ ]:
import re
txt="that will be 59 dollars"
#Find all digit characters:
x=re.findall("\d",txt)
print(x)

['5', '9']

In [ ]:
import re
text="hello planet"
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
x=re.findall("he..o",text)
print(x)

['hello']

In [ ]:
import re
txt="hello planet"
#Check if the string starts with 'hello':
x=re.findall("^hello",txt)
print(x)

['hello']

In [ ]:
import re
txt="hello planet"
#Check if the string ends with 'planet':
x=re.findall("planet$",txt)
if x:
  print("yes,the string ends with 'planet'")
else:
  print("no match")

yes,the string ends with 'planet'

In [ ]:
import re
txt="hello planet"
#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":
x=re.findall("he.*o",txt)
print(x)

['hello']

In [ ]:
# *	       Zero or more occurrences	- "he.*o"
import re
txt="hello planet"
#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o":
x = re.findall("he.+o", txt)
print(x)

['hello']

In [ ]:
import re
txt="hello planet"
#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":
x=re.findall("he.?o",txt)
print(x)
#This time we got no match, because there were not zero, not one, but two characters between "he" and the "o"

[]

In [ ]:
import re
txt="hello planet"
#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":
x=re.findall("he.{2}o",txt)
print(x)

['hello']

In [ ]:
import re
txt="the rain in spain falls mainly in plain!"

#Check if the string contains either "falls" or "stays":
x=re.findall("falls|stays",txt)
print(x)

if x:
  print("Yes there is at least 1 match!")
else:
  print("No match")

['falls']
Yes there is at least 1 match!

Special Sequences

A special sequence is a \ followed by one of the characters in the list below, and has a special meaning:

In [ ]:
import re
txt="The rain in spain"
#Check if the string starts with "The":
x=re.findall("\AThe",txt)
print(x)
if x:
  print("Yes, there is a match!")
else:
  print("No match")

['The']
Yes, there is a match!

In [ ]:
import re
txt="The rain in spain"
#Check if "ain" is present at the beginning of a WORD:
x=re.findall(r"\bain",txt)
print(x)
if x:
  print("Yes,there  is atleast 1 match")
else:
  print("No match")

[]
No match

In [ ]:
import re
txt="The rain in spain"
#Check if "ain" is present at the end of a WORD:
x=re.findall(r"ain\b",txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ain', 'ain']
Yes, there is at least one match!

In [ ]:
import re
txt="the rain in spain"
#Check if "ain" is present, but NOT at the beginning of a word:
x=re.findall(r"\Bain",txt)
print(x)
if x:
  print("Yes,there is atleast 1 match!")
else:
  print("No match")

['ain', 'ain']
Yes,there is atleast 1 match!

In [ ]:
import re
txt="The rain in spain"
#Check if "ain" is present, but NOT at the end of a word:
x=re.findall(r"ain\B",txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
import re
txt="The rain in spain"
#Check if the string contains any digits (numbers from 0-9):
x=re.findall("\d",txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
import re
txt="The rain in spain"
#Return a match at every no digit charecter"
x=re.findall("\D",txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 's', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [ ]:
import re
txt="The rain in spain"
#REturn a match at ever white space charecter:
x=re.findall("\s",txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

In [ ]:
import re
txt="The rain in spain"
#Return a match at every non white space charecter:
x=re.findall("\S",txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [ ]:
import re
txt="The rain in spain"
#Return a match at every word charecter (charecters from a to Z,digits from 0-9, and the underscore _ charecter)
x=re.findall("\w",txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [ ]:
import re
txt = "The rain in Spain"
#Return a match at every NON word charecter (charecters not between a to z, Like "!","?" white-space etc.):
x=re.findall("\W",txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

In [ ]:
import re
txt="The rain in Spain"
#Check if the string ends with "Spain"
x=re.findall("Spain\Z",txt)
print(x)
if x:
  print("yes, there is at leats one match!")
else:
  print("No Match")

['Spain']
yes, there is at leats one match!

findall()

In [ ]:
import re
txt="The rain in spain"
x=re.findall("ai",txt)
print(x)

['ai', 'ai']

In [ ]:
import re
txt="The rain in spain"
#Check if portugal is a string
x=re.findall("portugal",txt)
print(x)
if (x):
  print("Yes, there is atleast 1 match")
else:
  print("No match")

[]
No match

In [ ]:
import re
txt="the rain in spain"
x=re.search("\s",txt)
print("The first white space charecter is located in position:",x.start())

The first white space charecter is located in position: 4

In [ ]:
import re
txt="The rain in spain"
x=re.search("portugal",txt)
print(x)

None

split()

In [ ]:
import re
txt="The rain in Spain"
x=re.split("\s",txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
import re
txt="The rain in spain"
x=re.split("\s",txt,1)
print(x)

['The', 'rain in spain']

In [ ]:
import re
txt="The rain in spain"
x=re.split("\s",txt,2)
print(x)

['The', 'rain', 'in spain']

sub()

In [ ]:
#Replace every white space charecter with number 9
import re
#Replace all whitespace charecter with digit 9
txt="The rain in spain"
x=re.sub("\s","9",txt)
print(x)

The9rain9in9spain

In [ ]:
#Replace 1st 2 occurences
import re
#Replace the first 2 occurences of a white space charecter with digit 9
txt="The rain in Spain"
x=re.sub("\s","9",txt,2)
print(x)

The9rain9in Spain

In [ ]:
#Print the position (start- and end- position) of the 1st match occurence

import re
txt="The rain in spain"
x=re.search("ain",txt)
print(x)

<re.Match object; span=(5, 11), match='ain in'>

In [ ]:
#Print the position (start- and end- position) of the first match occurence
import re
txt="The rain in spain"
x=re.search(r"\bs\w+",txt)
print(x.span())

(12, 17)

In [ ]:
#Print the part of string where there was a match
import re
txt="The rain in spain"
x=re.search(r"\bs\w+",txt)
print(x.group())

spain

In [ ]:
#print the string passed through the function
import re
txt="The rain in spain"
x=re.search(r"\bs\w+",txt)
print(x.string)

The rain in spain

 Python Regex Program Questions

Q1)Check if a string contains only digits.
Write a Python program using regex to check if an input string contains only digits.


Q2)Extract all words from a sentence.
Input: "Hello, this is a test."
Expected Output: ['Hello', 'this', 'is', 'a', 'test']

Q3)Validate an email address.
Write a Python program to check if a given string is a valid email address.

Q5)Find all numbers in a string.
Input: "My numbers are 9999 and 12345"
Output: ['9999', '12345']

Q6)Check if a string starts with a capital letter and ends with a period.

Q7)Remove all special characters from a string except spaces.
Input: "Hello@# World!!"
Output: "Hello World"

Q8)Find all dates in the format dd-mm-yyyy from a paragraph.
Input: "I was born on 12-04-2000 and my sister on 25-12-2003"
Output: ['12-04-2000', '25-12-2003']

Q9)Replace all whitespaces in a string with a hyphen (-)
Input: "Hello World Python"
Output: "Hello-World-Python"

Q10)Split a string at every comma, semicolon, or space.
Input: "apple, banana; orange mango"
Output: ['apple', 'banana', 'orange', 'mango']

Q11)Validate a strong password.
Criteria: At least 8 characters, includes one digit, one uppercase, one lowercase, and one special character (@, #, $, %).

In [ ]:
#Q1
import re
txt="1234567"
x=re.findall("\D",txt)
print(x)

[]

In [ ]:
#q2
import re
txt="Hello, this is a test."
x=re.split("\s",txt)
print(x)

['Hello,', 'this', 'is', 'a', 'test.']

In [ ]:
#q3Validate an email address. Write a Python program to check if a given string is a valid email address.
import re
txt="myname123@gmail.com"
x=re.findall("@gmail.com\Z",txt)   #check if "@gmail.com" is present at end of txt
print(x)
#Check if present in txt "Valid" if absent "Invalid"
if x:
  print("Valid")
else:
  print("Invalid")

['@gmail.com']
Valid

In [ ]:
#q5
import re
txt= "My numbers are 9999 and 12345"
x=re.findall("[0-9][0-9][0-9][0-9][0-9]",txt)
print(x)

['12345']

In [ ]:
#q6
import re
txt="This is my bottle."
x=re.findall("\A[A-Z]",txt)
y=re.findall("[.]\Z",txt)
if x and y:
  print("Correct")
else:
  print("Invalid")

Invalid

In [ ]:
if (txt[0].isupper()==True) and (txt[-1]=="."):
  print("yes")
else:
  print("No")

yes

In [ ]:
#Q7)Remove all special characters from a string except spaces.
#Input: "Hello@# World!!"
#Output: "Hello World"
import re

x = "Hello@# World!!"
y = re.sub(r'[^A-Za-z0-9 ]+', '', x)

print(y)

Hello World

In [ ]:
#Q8)Find all dates in the format dd-mm-yyyy from a paragraph.
#Input:  Output: ['12-04-2000', '25-12-2003']

import re
txt="I was born on 12-04-2000 and my sister on 25-12-2003"
x=re.findall(r'[0-9][0-9][-][0-9][0-9][-][0-9][0-9][0-9][0-9]',txt) #Check if date is present in the string and select and take them into a list
print(x)

['12-04-2000', '25-12-2003']

In [ ]:
#Q9)Replace all whitespaces in a string with a hyphen (-) Input: "Hello World Python" Output: "Hello-World-Python"

import re
txt="Hello World Python"
x=re.sub("\s","-",txt)
print(x)

Hello-World-Python

In [ ]:
#Q10)Split a string at every comma, semicolon, or space. Input: "apple, banana; orange mango" Output: ['apple', 'banana', 'orange', 'mango']
import re
txt=" apple, banana; orange mango"
x=re.split(r"[,; ]+",txt)

print(x)

['', 'apple', 'banana', 'orange', 'mango']

In [ ]:
import re

input_str = "apple, banana; orange mango"
output_list = re.split(r'[;, ]+', input_str.strip())



print(output_list)

['apple', 'banana', 'orange', 'mango']

In [ ]:
#Q11)Validate a strong password. Criteria: At least 8 characters,
#includes one digit, one uppercase, one lowercase, and one special character (@, #, $, %).

import re
txt=str(input("Password "))

x1=re.search("[@#$%]",txt) #search for special charecters iin a  string
x5=re.search("[a-z]",txt) #search for lower case alphabets in a string
x6=re.search("[A-Z]",txt) #search for upper case alphabets in a string
x7=re.search("[0-9]",txt) #search for digit in password
if len(txt)>8:
  if x5 and x6 and x7:
    if x1:
      print("Valid")
    else:
      print("invalid")
  else:
    print("Invalid")
else:
  print("Invalid")

Password Ans@12
Invalid

# **Logical qustions**

In [ ]:
#check a value is prime number or not
x=11
a=0

for i in range(2,x):
  if x%i==0:
    a=1
    break
  else:
    a=2
if a==1:
  print("Not prime")
elif a==2:
  print("Prime")

Prime

In [ ]:
#xxxxxxxx
# longest word from a sentence (my name is anshif) output=anshif
x=" my name is anshif and iam from kozhikoe"
y=x.split(" ")
print(y)
a=0
b=0
c=0
for v in range(len(y)):
  for i in range(1,len(y)):
      a=len(y[v])
      b=len(y[v-1])

      if a>b and a>c:
         h=y[v]
         c=len(h)
      else:
        pass
print(h)

['', 'my', 'name', 'is', 'anshif', 'and', 'iam', 'from', 'kozhikoe']
kozhikoe

In [ ]:
#check if word big a sentence
x="my name is anshif and iam fromssssssss kozhikoe"
y=x.split()
v=""
for i in y:
  if len(i)>len(v):
    v=i
print(v)

fromssssssss

In [ ]:
#check small word in a sentence
x="my name is anshif and iam fromssssssss kozhikoe"
y=x.split()
v="xyz"
for i in y:
  if len(i)<=len(v):
    v=i
print(v)

is

In [ ]:
def small(a):
  n=a.split()
  v="dyffft"
  for i in n:
    if len(i)<len(v):
      v=i
  print(v)

small("the a trrris ybade")

a

In [ ]:
def big(a):
  n=a.split()
  v=""
  for i in n:
    if len(i)>len(v):
      v=i
  print(v)

big("the a trrris ybade")

trrris

In [ ]:
#year%4==0 and y%100 not 0
#or year%400==0
def leapyr(a):
  if (a%4==0 and a%100!=0) or a%400==0:
    print("The year is leap year")
  else:
    print("The year is not leap year")

leapyr(2020)

The year is not leap year

In [ ]:
#palindrome
x="htath"
b=x[::-1]
if x==b:
  print("True")
else:
  print("False")

True

In [ ]:
#amstrong number

a1=int(input("Enter a number"))
c1=str(a1)
b1=len(c1)
d1=0
for i in range(len(c1)):
  a=int(c1[i])
  d1+=(a**b1)
if a1==d1:
  print("True")
else:
  print("false")

Enter a number370
True

In [ ]:
#xxxxxxxx
c=str(a)
print(c)
d=(c[0])
b=(c[1])
e=(c[2])
i=(f**3)+(g**3)+(h**3)
if i==a:
  print("True")
else:
  print("False")

In [ ]:
#xxxxxxxx
a="1 2 3 4 5 6 7 8 9 "
b=int(input("NUmber="))
if b==1:
  c=3
if b==2:
  c=5
if b==3:
  c=7
if b==4:
  c=9
if b==5:
  c=11
if b==6:
  c=13
if b==7:
  c=15
if b==8:
  c=17
if b==9:
  c=19

for i in range(1,c):
  if (i%2==0):
    print(a[0:i])

NUmber=5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

if (b==1):
  c=2

In [ ]:
#xxxxxxxx
a="* * * * * * * * *"
e="                 "
b=int(input())
if b==1:
  c=3
if b==2:
  c=5
if b==3:
  c=7
if b==4:
  c=9
if b==5:
  c=11
if b==6:
  c=13
if b==7:
  c=15
if b==8:
  c=17
if b==9:
  c=19
for i in range(1,c):
  if i<(c/2):
    print(e[i::],a[0:(2*i)])

5
                 *
                * *
               * * *
              * * * *
             * * * * *

In [ ]:
print()

In [ ]:
#xxxxxxxx
a="*"
x=int(input())
for i in range(x):
  for v in range(i):d
    print(a,end=" ")
    continue

3
* * *

In [ ]:
#xxxxxxxx
p1="ABCdefghijklmnopqrstuvwxyz"
s1=p1.lower()
if ("a" in s1) and ("b" in s1) and ("c" in s1) and ("d" in s1) and ("e" in s1) and ("f" in s1) and ("g" in s1) and ("h" in s1) and ("i" in s1) and ("j" in s1) and ("k" in s1) and ("l" in s1) and ("m" in s1) and ("n" in s1) and ("o" in s1) and ("p" in s1) and ("q" in s1) and ("r" in s1) and ("s" in s1) and ("t" in s1) and ("u" in s1) and ("v" in s1) and ("w" in s1) and ("x" in s1) and ("y" in s1) and ("z"in s1):
  print("yes")
else:
  print("No")

yes

In [ ]:
###xxxxxxxx
print("Yes")
else:
  print("No")

In [ ]:
#vowels
a1="aeiou"
a2="heavy rain soon"
a3=0
for i in a1:
  for t in a2:
    if i==t:
      a3=a3+1
print(a3)

6

In [ ]:
##xxxxxxxx
print(chr(65))

A

In [ ]:
#xxxxxxxx
a=5
b1=65
b1+=1
print(chr(b1))

B

In [ ]:
#xxxxxxxx
for b in range(0,5):
    print("apple",end=" ")

apple apple apple apple apple

In [ ]:

#palindrome
def palind(x):
  b=x[::-1]
  if x==b:
    print("True")
  else:
    print("False")

palind("whahw")

True