In [ ]:
# prime number?
a=211
for i in range(a):
  if (i!=0) and (i!=1) and (i!=a):
    if a%i==0:
      v="notprime"
      break
    else:
      v="prime"

print(v)

prime

In [ ]:
# largest word?
a="appfffffffffle isfffff do jk hgjhghjgjgjh"
b=0
v=a.split()
for t in range(len(v)):



print(b)

hgjhghjgjgjh

In [ ]:
#largest word
a="my name is yadhu"
b=0

w1=0
w2=0
v=a.split()
w=len(v)

for i in range(w):
  for t in range(1,w):
    if len(v[t])>len(v[t-1]):
      b=v[t]
      b1=v[t-1]
      v[t]=b1
      v[t-1]=b
    else:
      pass
print(v[0])

yadhu

In [ ]:
#smalIest word
a="abcewbbbbwww fo ew"
b=0
v=[]
w1=0
w2=0
v=a.split()
w=len(v)

for i in range(0,w):
  for t in range(1,w):
    if len(v[t])<len(v[t-1]):
      b=v[t]
      b1=v[t-1]
      v[t]=b1
      v[t-1]=b
    else:
      pass
print(v[0])

fo

j

In [ ]:
# pyramid?
a=6

t=0
for i in range(a):
  t=a-i
  while t>=0:
    print(" ",end="")
    t-=1

  for v in range(i+1):
    print("*",end=" ")

  print()

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *

In [ ]:
a=[1,88,56,9090,23,56]
for t in range(len(a)):
  for i in range(1,len(a)):
    if a[i]<a[i-1]:
      a1=a[i]
      a2=a[i-1]
      a[i]=a2
      a[i-1]=a1
print(a)

[1, 23, 56, 56, 88, 9090]

In [ ]:
a=["apple","chilly","lilly","sunflowwwwer","howard","chocolates","orange"]
b=[]
q=len(a)-1
for i in range(0,q+1):
  b.append(a[q-i])


print(b)

['orange', 'chocolates', 'howard', 'sunflowwwwer', 'lilly', 'chilly', 'apple']

In [ ]:
def pm(a):
  c=[]

  for i in range(a):
    n1=0
    if i==0 or i==1:
      pass
    else:
      for t in range(i):
        if t!=0 and t!=1 and i%t==0:
          n1=1
        else:
          pass
      if n1==0:
        c.append(i)

  print(c)

a1=100
pm(a1)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

1
u=1
v=1
t=1: x=1^1=1

In [ ]:
def hamstrong(a):
  c=[]
  for r in range(10,a):
    v=[]
    x=0
    b1=str(r)
    u=len(b1)

    for i in b1:
      v.append(int(i))

    for t in v:
      x+=(t**u)

    if x==r:
      c.append(r)


  print(c)

a1=1000
hamstrong(a1)

[153, 370, 371, 407]

In [ ]:

a1=int(input("N: "))
def rev(a):
  b=[]
  p=[]
  for i in range(a):
    c=int(input())
    p.append(c)

  q=a-1
  for i in range(0,a):
    b.append(p[q-i])
  print(b)

rev(a1)

N: 6
1
2
3
4
5
7
[7, 5, 4, 3, 2, 1]

In [ ]:
a1="apple and intufew"
def bigest(a):
  v=[]
  v=a.split()
  w=len(v)
  for i in range(0,w):
    for t in range(1,w):
      if len(v[t])>len(v[t-1]):
        b1=v[t]
        b2=v[t-1]
        v[t-1]=b1
        v[t]=b2
  print(v[0])

bigest(a1)

intufew

In [15]:
account=100000


def subtract():
  global account
  a1=int(input("amount:"))
  if a1>account:
    print("invalid,more than amount")
  elif a1<=account:
    account=account-a1
  print("balance=",account)

def add():
  global account
  a2=int(input("amount:"))
  account=account+a2
  print("balance=",account)





username="white"
password="123456"
user=input()
pass1=input()
if username==user:
  pass
else:
  print("Username is wrong")

if password==pass1:
  pass
else:
  print("password is wrong")

if username==user and password==pass1:
  print("1-add,2-subtract")
  a=int(input("n:"))
  if a==2:
    subtract()
  elif a==1:
    add()

hgjjjjjjjlj
123456
Username is wrong

In [46]:
amt=10000

user0="rit"
pass0="123"

user1=input("Username=")
pass1=input("Password=")

if user0==user1 and pass0==pass1:

  a1=int(input("drwing amount="))
  if a1<=0:
    print("amount you enterred is not corect")
  if a1>amt:
    print("insufficient fund in account")
  elif a1<amt:
    amt=amt-a1

  print("balance=",amt)

elif user0!=user1 and pass0==pass1:
  print("incorrect username")

elif user0==user1 and pass0!=pass1:
  print("incorrect password")

elif user0!=user1 and pass0!=pass1:
  print("incorrect password and username")

Username=rit
Password=123
drwing amount=0
amount you enterred is not corect
balance= 10000